{% extends "students/base.html" %}


{% block title%}
	DEL student [!] - pyBursa
{% endblock title %}


{% block main_content %}
			<h1>Удаление студента {{ course }}</h1>
			
		    <div class="row">

		    {% if messages %}
		    	<ul class="messages">
		    	{% for message in messages %}
		    		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
		    			{{ message }}
		    		</li>
		    	{% endfor %}
		    	<ul>
		    {% endif %}

		    <form method='post'> 
		    	{% csrf_token %} 
		    	<input type="submit" value="Are you sure?">
		    </form>
		    <br/>
		   
		    </div>
{% endblock main_content %}

