{% extends "layout.html" %}

{% block title %}
Detail info 
{% endblock %}

{% block content %}

<div class="detail-info">
  <h2 class="h2-center">Информация о студенте</h2>
    <div>
      <table class="table table-striped table-style" style="width:100%">
        <tr>
          <th>Имя</th>
          <td>{{ student.name|upper }}</td>
        </tr>

        <tr>
          <th>Фамилия</th>
          <td>{{ student.surname }}</td>
        </tr>

        <tr>
          <th>Дата рождения</th>
          <td>{{ student.birthday }}</td>
        </tr>

        <tr>
          <th>Почта</th>
          <td>{{ student.email }}</td>
        </tr>

        <tr>
          <th>Телефон</th>
          <td>{{ student.phone_num }}</td>
        </tr>

        <tr>
          <th>Адрес</th>
          <td>{{ student.address }}</td>
        </tr>

        <tr>
          <th>Логин skype</th>
          <td>{{ student.skype }}</td>
        </tr>

        <tr>
          <th>Курсы</th>
          <td>
            {% for course in student.all_courses %}
            <a href="{% url 'courses:show' course.id %}">{{ course.title }}</a><br>
            {% endfor %}
          </td>
        </tr>
      </table>
    </div>
</div>
{% endblock %}