{% extends "base_students.html" %}


{% block page-header %}Редактирование информации о студенте{% endblock %}


{% block page-content %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
        {{ message }}
      </div>
    {% endfor %}
  </ul>
{% endif %}
<form method="post" > 
   {% csrf_token %}    
   <p>{{ form.as_p }}</p>
   <input type="submit" value="Изменить"> 
</form>           
{% endblock %}            

       

      
    

 