<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Иванов Валерий Акакиевич | Информация о студенте</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jumbotron-narrow.css' %}" rel="stylesheet">
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="{% url 'home' %}">Главная</a></li>
            <li role="presentation"><a href="{% url 'contact' %}">Контакты</a></li>
            <li role="presentation" class="active"><a href="{% url 'student_list' %}">Студенты</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">PY Bursa</h3>
      </div>
      <div class="row marketing">
      	<p><a href="{% url 'students.views.student_list' %}">Вернуться к списку</a></p>
        <h2>Иванов Валерий Акакиевич</h2>
					<div class="table-responsive">
						<table class="table table-hover">
						  <tbody>
						    <tr data-href="http://google.com">
						      <th scope="row">дата рождения</th>
						      <td>01.02.1992</td>
						    <tr>
						      <th scope="row">адрес</th>
						      <td>Харьков, ул. Бакулина 2</td>
						    </tr>
						    <tr>
						      <th scope="row">почта</th>
						      <td>mail@gmail.com</td>
						    </tr>
						    <tr>
						      <th scope="row">логин skype</th>
						      <td>sexy_boy</td>
						    </tr>
						    <tr>
						      <th scope="row">выполнено работ</th>
						      <td>практических: 10 <br />контрольных: 4</td>
						    </tr>
						    <tr>
						      <th scope="row">средний балл</th>
						      <td>8.4</td>
						    </tr>
						    <tr>
						      <th scope="row">рейтинг</th>
						      <td>4 место</td>
						    </tr>
						  </tbody>
						</table>
					</div>
      	</div>
      <footer class="footer">
        <p>&copy; Pybursa 2015</p>
      </footer>
    </div> 
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
