{% extends "layout.html" %}

{% block section %}page-students{% endblock %}

{% block title %}
Students
{% endblock %}

{% block extra_menu %}
  <li>
    <a href="{% url 'students:student-add' %}">Новый студент</a>
  </li>
{% endblock %}

{% block content %}
<div class="course-info">

  <h2>Список студентов</h2>

  <div>
    <div class="students">
      <table class="table table-striped" style="width:100%">
      <thead>
        <tr>
          <th>№</th>
          <th>Фамилия Имя</th>
          <th>Адрес</th>
          <th>Skype</th>
          <th>Курсы</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
        <tr>
          <td>{{ student.id }}</td>
          <td><a href="{% url 'students:student-detail' student.id %}">
              {{ student.surname}} {{ student.name}}
              </a>
          </td>
          <td>{{ student.address }}</td>
          <td>{{ student.skype }}</td>
          <td>{% for course in student.all_courses %}
            <a href="{% url 'courses:show' course.id %}">{{ course.title }}</a><br>
          {% endfor %}</td>
          <td>
            <a href="{% url 'students:student-edit' student.id %}">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
          </td>
          <td>
            <a href="{% url 'students:student-delete' student.id %}">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}