{% extends "base.html" %}


{% block title %}Список студентов Pybursa на всех курсах{% endblock title %}


{% block nav %}{% include "nav.html" with active_students='active' %}{% endblock nav %}


{% block jumbotron %}{% endblock jumbotron %}


{% block table %}
<h2>Список студентов</h2><br />
    {% if messages %}
        <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
        </ul>
    {% endif %}
<p><a class="btn btn-primary glyphicon glyphicon-plus"
      href="{% url 'student_add' %}" role="button"> Добавить студента</a></p><br />
<div class="table-responsive">
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Фамилия Имя</th>
        <th>Адрес</th>
        <th>Skype</th>
        <th>Курсы</th>
        <th></th>

    </tr>
    </thead>
    <tbody>{% for st in stud %}
        <tr data-href="http://google.com">
            <th scope="row">{{st.id}}</th>
            <td><a href="{% url 'student_detail' st.id %}">{{st.first_name}} {{st.surname}}</a></td>
            <td>{{st.adress}}</td>
            <td>{{st.skype}}</td>
            <td><ul>{% for c in st.course.all %}
                <li><a href="{% url 'course' c.id %}">{{c.name}}</a></li>{% endfor %}
                </ul></td>
            <td><a class="btn btn-primary glyphicon glyphicon-pencil"
                   href="{% url 'student_edit' st.id %}" role="button"> Изменить</a></td>
        <tr>{% endfor %}
    </tbody>
</table>
</div>
{% endblock table %}