<!DOCTYPE html>
<html>
  <head>
    <title>Квадратное уравнение</title>
  </head>

  <body>
    <p>Квадратное уравнение a*x*x + b*x + c = 0</p>
    <ul>
      <li>a = {{ a }} {% if a_error %}<br /><em>{{ a_error }}</em>{% endif %}</li>
      <li>b = {{ b }} {% if b_error %}<br /><em>{{ b_error }}</em>{% endif %}</li>
      <li>c = {{ c }} {% if c_error %}<br /><em>{{ c_error }}</em>{% endif %}</li>
    </ul>
    {% if not error %}
      <p>Дискриминант: {{ d }}</p>
      <p>{{ result_message }}</p>
    {% endif %}
  </body>
</html>