{% extends "base.html" %}

{% block title %}Pybursa. Добавление студента{% endblock title %}


{% block nav_class_students %}active{% endblock %}


{% block students_link %}
<a href="{% url 'students:students_on_course' %}">
{% endblock students_link %}


{% block main_contant %}

<div class="panel panel-default">
  <div class="panel-heading"><h3>Добавление студента</h3></div>
  <div class="panel-body">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type = "Submit" class="btn btn-primary btn-lg" value="Зарегистрировать" >  
    </form>
   </div>
 </div>

{% endblock main_contant %}   
