{% extends "base.html" %}


{% block title %} PyBursa Students {% endblock title %}


{% block nav_class_student %}active{% endblock %}


{% block students_link %}{% url 'students:students' %}{% endblock %}


{% block main_content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}{{student.name}}</li>
    {% endfor %}
</ul>
{% endif %}

  {% block page_content %}
  {% endblock page_content %}
</div>


{% endblock main_content %}

