{% extends "base/base_index.html" %}

{% load staticfiles %}


{% block title %}
  Студенты
{% endblock %}


{% block content %}
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="{% url 'courses_i:index' %}">Главная</a></li>
            <li role="presentation"><a href="{% url 'students:index' %}">Студенты</a></li>
            <li role="presentation"><a href="{% url 'contact' %}">Контакты</a></li>
          </ul>
        </nav>
      </div>

        <h2>

        </h2>

        <div>
          <h4>
            
          </h4>
        </div>

        <h4>
          {{ student.name }} {{ student.surname }}
        </h4>

{% if student %}     
      <table class="table table-hover">

      <tbody>

        <tr>
          <td>дата рождения</td>
          <td>{{ student.birth_date }}</td>
        </tr>
        <tr>
          <td>адрес</td>
          <td>{{ student.address }}</td>
        </tr>
        <tr>
          <td>почта</td>
          <td>{{ student.email }}</td>
        </tr>
        <tr>
          <td>логин skype</td>
          <td>{{ student.skype }}</td>
        </tr>
        <tr>
          <td>телефон</td>
          <td>{{ student.phone }}</td>
        </tr>
        <tr>
          <td>курсы</td>
          <td>
              {% for c in student.courses.all %}
               <a href="{% url 'courses:detail' c.id %}">
                 {{ c }}
               </a>
              <br>
              {% endfor %}
         </td>
        </tr>


      </tbody>
    </table>

{% else %}
    <p>No students are available.</p>
{% endif %}

      <footer class="footer">
        <p>&copy; Py.bursa 2014</p>
      </footer>
{% endblock %}

