{% extends "base.html" %}

{% load staticfiles %}


{% block title %}Remove Student{% endblock title %}


{% block handler_wrapper %}style="margin-top:1%"{% endblock %}


{% block nav_class_students %}active{% endblock %}


{% block carousel %}{% endblock carousel %}


{% block main_content %}

  {% if messages %}
<ul class="messages">
  {% for message in messages %}
<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
{{ message }}
</li>
{% endfor %}
</ul>
{% endif %}


  <form method='post'>
    {% csrf_token %}  
    <h3>Студент {{ student.full_name }} будет удален</h3>
    <input type="submit" value="Удалить">
  </form>

{% endblock main_content %}

