{% extends "base.HTML" %}

{% load static from staticfiles %}

{% block title %}IT Bursa - Студенты {{ i.name|title }} {% endblock title %}


{% block nav_class_student_list %}active{% endblock %}


{% block main_content %}
    <!--Выводим список студентов-->
    <div class="row">
      <br><br>
          <div class="table-responsive">
            <table ip = 'base-python' class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Фамилия Имя</th>
                  <th>Адрес</th>
                  <th>Skype</th>
                  <th>Курсы</th>
                </tr>
              </thead>
              <tbody>
                {% for student in students %}
                  <tr>
                    <td>
                      {{ forloop.counter }}
                    </td>
                    <td>
                      <a href="{% url 'students:student_detail' student.id %}">{{ student.surname|upper }} {{ student.name|upper }}</a>
                    </td>
                    <td>
                      {{ student.address }}
                    </td>
                    <td>
                      {{ student.skype }}
                    </td>
                    <td>
                      {% for i in student.courses.all %}

                      <a href="{% url 'courses:courses' i.id %}">{{ i.name }}</a><br>
                      {% endfor %}
                    </td>
                  </tr>
                {% empty %}
                  ни один студент пока не зарегистрирован
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>
    <br><br><br><br>
{% endblock main_content %}
