{% extends "students/base.html" %}


{% block students_link %}{% url 'students:students' %}{% endblock %}


{% block page_header %}Список группы{% endblock %}


{% block page_content %}


<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>ФИО</th>
        <th>Адрес</th>
        <th>Skype</th>
        <th>Курсы</th>
      </tr>
    </thead>
    {% for student in students %}
    <tbody>
      <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'students:student_d' student.id %}">{{ student.surname }} {{ student.name }}</a></td>
        <td>{{ student.address }}</td>
        <td>{{ student.skype }}</td>
        <td>{% for course in student.courset.all %}
        <a href="{% url 'courses:courses' course.id %}">{{ course }}</a></br>
        {% endfor %}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>


{% endblock page_content %}
