{% extends "students/base.html" %}


{% load staticfiles %}


{% block title %}Student's List{% endblock title %}


{% block main_content %}

<h3>Список Студентов</h3>

<div class="panel panel-default">
  <table class="table">
     <tr>
       <th>#</th>
       <th>Фамилия Имя</th>
       <th>Адрес</th>
       <th>skype</th>
       <th>курсы</th>
     </tr>
{% for student in studik %}
     <tr>
       <td>{{forloop.counter}}</td>
       <td><a href="{% url 'students:get_student' student.id %}">{{student.surname}} {{student.name}}</a></td>
       <td>{{student.address}}</td>
       <td>{{student.skype}}</td>
       <td>{% for c in student.courses.all %}
				<a href="{% url 'courses:courses' c.id %}">{{c|upper}}</a><br>
				{% endfor %}</td>
     </tr>
{% endfor %}						
  </table>  
</div>

{% endblock main_content %}
