{% extends "base.HTML" %}

{% load static from staticfiles %}

{% block title %}IT Bursa - {{ student.surname }} {{ student.name }}{% endblock title %}


{% block css_for_page %}
    <link href="{% static "student.css" %}" rel="stylesheet">
{% endblock css_for_page %}


{% block nav_class_student_list %}active{% endblock %}


{% block main_content %}
  <br><br><br><br>
  <!--Контакты конкретного студента-->
  <div class = 'row'>
    <div id = 'student' class="media">
      <div class="media-left media-middle">
        <div class="row placeholders">
          <div class="col-xs-12 col-sm-12 placeholder">
            <img src="{% static "IMG/student.jpg" %}" class="img-responsive" alt="Generic placeholder thumbnail">

            <h4>{{ student.surname }} {{ student.name }}</h4>
            <span class="text-muted">студент ITBursa</span>
          </div>
        </div>
      </div>
      <div class="media-body">
        <div class = 'teacher1-text'>
          <p> <small>дата рождения:</small> {{ student.date_of_birth }} </p>
          <p> <small>адрес:</small> {{ student.address }} </p>
          <p> <small>e-mail:</small> {{ student.email }} </p>
          <p> <small>skype:</small> {{ student.skype }}  </p>
          <p> <small>телефон:</small> {{ student.phone }} </p>
          <p> <small>курсы:</small>
            {% for i in student.courses.all %}
              {{ i.name }}
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
  </div>
  <br><br>
{% endblock main_content %}
