{% extends "base.HTML" %}

{% load static from staticfiles %}

{% block title %}IT Bursa - Студенты {{ i.name|title }} {% endblock title %}


{% block nav_class_student_list %}active{% endblock %}


{% block css_for_page %}
    <link href="{% static "students-list.css" %}" rel="stylesheet">
{% endblock css_for_page %}


{% block main_content %}

 <!--Сообщение-->
  {% include "inc_message.HTML"%}

  <!--Фильтрация выборки студентов-->
  <div class='row filter'>
    <form action="" method="get">
    {% csrf_token %}
      <div class="container-filter custom-filter">
        <input type = "checkbox" name = "Man"  value=True /><img class="gender" src="{% static 'IMG/man.gif' %}" alt="...">
        <input type = "checkbox" name = "Woman"  value=True /><img class="gender" src="{% static 'IMG/woman.gif' %}" alt="...">
        {% for course in courses %}
          <input type = "checkbox" name = "{{ course.id }}"  value=True />{{ course.name }}
        {% endfor %}
      </div>
      <div class="container-filter1">
        <button type="submit" class="btn btn-success btn-md" aria-label="Left Align">Показать
        </button>
      </div>
    </form>
  </div>


    <!--Выводим список студентов-->
  <div class="row">
    <div class="table-responsive">
      <table ip = 'base-python' class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Фото</th>
            <th>Фамилия Имя</th>
            <th></th>
            <th>Адрес</th>
            <th>Skype</th>
            <th>Курсы</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for student in student_list %}
            <tr>
              <td>
                {{ forloop.counter }}
              </td>
              <td>
                <div class="col-xs-12 col-sm-12 placeholder">
                  <img src="/{{ student.photo }}" class="img-responsive" alt="Generic placeholder thumbnail">

                </div>
              </td>
              <td>
                <a href="{% url 'students:student-detail' student.id %}">{{ student.surname }} {{ student.name }}</a>
              </td>
              <td>
                {% if student.gender != "W" %}
                  <img class="gender" src="{% static 'IMG/man.gif' %}" alt="...">
                {% else %}
                  <img class="gender" src="{% static 'IMG/woman.gif' %}" alt="...">
                {% endif %}
              </td>
              <td>
                {{ student.address }}
              </td>

              <td>
                {{ student.skype }}
              </td>
              <td>
                {% for i in student.courses.all %}

                <a href="{% url 'courses:course' i.id %}">{{ i.name }}</a><br>
                {% endfor %}
              </td>
              <td>
                <a class="edit btn btn-primary btn-sm " href="{% url 'students:edit-student' student.id %}">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
                <a class="del btn btn-danger btn-sm " href="{% url 'students:remove-student' student.id %}">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
              </td>
            </tr>
          {% empty %}
            ни один студент пока не зарегистрирован
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!--Кнопка добавить нового студента-->
    <div class="row">
      <a class="add btn btn-success btn-md " href="{% url 'students:create-student' %}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить нового студента
      </a>
    </div>
    <!--Пагинация
    <div class="row paginator">
      <nav>
        <ul class="pagination  pagination-lg">
        {% if page_obj.has_previous %}
          <li ><a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;prev</span></a></li>
        {% endif %}
        {% for number in paginator.page_range %}
          {% if page_obj.number == forloop.counter %}
            <li class="active"><a href="?page={{ forloop.counter }}">{{ forloop.counter }} <span class="sr-only">(current)</span></a></li>
          {% else %}
            <li><a href="?page={{ forloop.counter }}">{{ forloop.counter }} <span class="sr-only">(current)</span></a></li>
          {% endif %}
        {% endfor %}
          {% if page_obj.has_next %}
            <li ><a href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">next&raquo;</span></a></li>
          {% endif %}
        </ul>
      </nav>
    </div>-->

{% endblock main_content %}
