{% extends "students/base.html" %}


{% load staticfiles %}


{% block title %} PyBursa Student detail {% endblock title %}


{% block students_link %}{% url 'students:students' %}{% endblock %}


{% block page_content %}


<ol class="breadcrumb">
  <li><a href="{% url 'students:students' %}">{% block page_header %}Студенты{% endblock %}</a></li>
  <li class="active">Детальная информация о студенте</li>
</ol>
<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="{% static 'bootstrap/images/student_photo.png' %}" alt="student photo">
  </a>
  <h4 class="media-heading"> {{ student.name }} {{ student.surname }}</h4>
  <div class = "well well-sm">
    <p><b>Дата рождения:</b>{{student.date_of_birth}}</p>
    <p><b>Адрес:</b> {{ student.address }}</p>
    <p><b>Почта:</b> {{ student.email }}</a></p>
    <p><img src = "{% static 'bootstrap/images/skypeic.png' %}"> {{ student.skype }}</p>
    <p><b>Курсы:</b>
    {% for course in student.courset.all %}
    <a href="{% url 'courses:courses' course.id %}">{{ course }}</a></br>
    {% endfor %}</p>
  </div>
</div>


{% endblock page_content %}

