{% extends "base.HTML" %}

{% load static from staticfiles %}

{% block title %}IT Bursa - {{ page_title }} {% endblock title %}


{% block css_for_page %}
    <link href="{% static "students-list.css" %}" rel="stylesheet">
{% endblock css_for_page %}


{% block nav_class_student_list %}active{% endblock %}


{% block main_content %}

  <!--Сообщение-->
  {% include "inc_message.HTML"%}

  <h3 class="media-heading"> {{ page_title }} </h3><br>

  <!--Создание формы для нового студента-->
  <form class ="custome" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input id="custom_btn" class="btn btn-primary"  type='submit' value="Сохранить">
  </form>
{% endblock main_content %}
