{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Удаление {{ application.surname }} {{ application.name }}{% endblock %}


{% block main %}
<div class='container'>
  <h1>Студент {{ application.surname }} {{ application.name }} будет удален из списка студентов.</h1>
  <form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger">Удалить</button>
  <a href="{% url 'students' %}" class="btn btn-primary" role="button">Назад</a>
  </form>
</div>
{% endblock main %}