{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Сведения о студенте - pyBursa{% endblock %}


{% block nav_students %}active{% endblock %}


{% block content %}
<div class="page-header">
  <h2>{{ student.name }} {{ student.surname }}</h2>
</div>

<div class="row">
  <div class="col-xs-12 col-lg-12">
    <div class="row">
      <div class="col-xs-4 col-lg-4 ">
        <table class="table">
          <thead>
            <tr>
              <td>дата рождения</td>
              <td>{{ student.date_of_birth|date:"d F, Y" }}</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>адрес</td>
              <td>{{ student.address }}</td>
            </tr>
            <tr>
              <td>почта</td>
              <td>{{ student.email }}</td>
            </tr>
            <tr>
              <td>логин skype</td>
              <td>{{ student.skype }}</td>
            </tr>
            <tr>
              <td>телефон</td>
              <td>{{ student.phone }}</td>
            </tr>
            <tr>
              <td>курсы</td>
              <td>
                {% for course in student.courses.all %}
                  <p><a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a></p>
                {% endfor %}
              </td>
            </tr>
            <tr>
              <td>комментарии</td>
              <td>
                {{ comment|default:"не имеет комментарий" }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
