{% extends "students/base.html" %}


{% load static %}


{% block title %} PD0102 - Add student {% endblock title %}


{% block nav_class_students %}active{% endblock nav_class_students %}


{% block main_content %}
   <div class="main">
    <div class="container">
        <div class="col-md-9">
          <h1>Изменение данных студента</h1>

         <form method='post'>
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit button" class="btn btn-success">Сохранить изменения</button>
        </form>
     </div>
{% include "inc_links.html" %}
    </div>
  </div>
       
       
{% endblock main_content %}
   