{% extends "base.html" %}

{% block title %}Редактирование студента{% endblock title %}


{% block nav_class_student %}active{% endblock %}


{% block content %}

{% include "includes/inc_messages.html" %}

<div>
  <br>
  <h2> Редактирование данных студента</h2>
  <br>
  <br>
<!-- Форма редактирования данных студента -->
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <br>
    <input class="btn btn-primary" type='submit' value="Изменить">
  </form>
</div>

{% endblock content %}