{% extends "base.html" %}


{% block title %}Студенты - pyBursa{% endblock %}


{% block nav_students %}active{% endblock %}


{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

<a href="{% url 'students:add' %}" class="btn btn-primary" role="button">
  <span class="glyphicon glyphicon-plus"></span>
  Добавить нового студента
</a>
<div class="page-header">
  <h2>Список студентов</h2>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>фамилия имя</th>
          <th>адрес</th>
          <th>skype</th>
          <th>курсы</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'students:detail' student.id %}">{{ student.surname }} {{ student.name }}</a></td>
            <td>{{ student.address }}</td>
            <td>{{ student.skype }}</td>
            <td>
              {% for course in student.courses.all %}
                <p><a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a></p>
              {% endfor %}
            </td>
            <td>
              <a href="{% url 'students:edit' student.id  %}" class="btn btn-primary" role="button">
                <span class="glyphicon glyphicon-pencil"></span>
                Изменить
              </a>
            </td>
            <td>
              <a href="{% url 'students:remove' student.id  %}" class="btn btn-primary" role="button">
                <span class="glyphicon glyphicon-remove"></span>
                Удалить
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
