{% extends "base.html" %}


{% block title %}Студенты - pyBursa{% endblock %}


{% block nav_students %}active{% endblock %}


{% block content %}
<div class="page-header">
  <h2>Список студентов</h2>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>фамилия имя</th>
          <th>адрес</th>
          <th>skype</th>
          <th>курсы</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'students:detail' student.id %}">{{ student.surname }} {{ student.name }}</a></td>
            <td>{{ student.address }}</td>
            <td>{{ student.skype }}</td>
            <td>
              {% for course in student.courses.all %}
                <p><a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a></p>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
