{% extends 'students/index.html' %}
{% load staticfiles %}


{% block title %} Удалить студента {% endblock title %}


{% block content %}
  <h3>Вы уверены, что хотите удалить студента {{ object.full_name }} </h3>
  <form method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-primary" name="Delete" value="Удалить" />
    <a href="{% url 'students:index' %}">
        <input type="button" class="btn btn-primary" name="Cancel" value="Отмена" />
    </a>
  </form>
  <br />
{% endblock content %}