{% extends "tech/base.html" %}
{% load staticfiles %}
{% block title %} Удалить инфо о студенте {% endblock title %}
{% block nav_class_students %}active{% endblock %}
{% block jumbotron %}{% endblock jumbotron %}
{% block courses_table %}{% endblock courses_table %}
{% block content_header %}{% endblock content_header %}

{% block main_content %}
<h3>Информация о студенте {{student.name}} {{student.surname|upper}} будет удалена! </h3>

          <form method="post">
              {% csrf_token %}
              <br/><input type='submit' class="btn btn-primary" value='Удалить'/>    
          </form>

{% endblock main_content %}
