{% extends "base.html" %}

{% load static from staticfiles %}


{% block title %}{{ block_title }}{% endblock title %}


{% block nav_header %}Ooniversity > {{ page_title|cut:" - " }}{% endblock %}


{% block nav_class_student %}active{% endblock %}


{% block main_content %}

    <br>

{% include "includes/inc_messages.html" %}  {# Подключение сообщения #}

    <div>
      <br>
      <h2> {{ page_title }}{{ student.full_name|title }}</h2>
      <br>
      <br>

      <!-- Форма редактирования данных студента -->

      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <br>
        <input class="btn btn-primary" type='submit' value="Сохранить">
      </form>
    </div>

{% endblock main_content %}
