<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Student_info</title>

    {% load staticfiles %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" >

  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-inverse">
      
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img class="navbar-brand" src="{% static 'img/paha.JPG' %}">
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'main' %}">Главная</a></li>
            <li><a href="">Контакты</a></li>
            <li><a href="{% url 'students:students_all' %}">Студенты</a></li>
          </ul>
        </div><!--/.nav-collapse -->
 
      </nav>
    </div>

    <div class="container">
      <h2 style="color: #446785">{{ student_info.surname }}  {{ student_info.name }}</h2>

      <div class="row">
        <div class="col-md-9">
          <table class="table">
            <tbody>
              <tr>
                <td>дата рождения</td>
                <td>{{ student_info.birth_date }}</td>
              </tr>
              <tr>
                <td>адрес</td>
                <td>{{ student_info.address }}</td>
              </tr>
              <tr>
                <td>почта</td>
                <td>{{ student_info.email }}</td>
              </tr>
              <tr>
                <td>логин skype</td>
                <td>{{ student_info.skype }}</td>
              </tr>
              <tr>
                <td>телефон</td>
                <td>{{ student_info.phone }}</td>
              </tr>
              <tr>
                <td>курсы</td>
                <td>
                  {% for course_list in student_info.courses.all %}
                    <p><a href="{% url 'courses:course_info' course_list.id %}">{{ course_list.name }}</p> 
                  {% endfor %}
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>  
  </body>
</html>
