{% extends "base.html" %}


{% block title %}Удалить студента {{ object.first_name }} {{ object.surname }}{% endblock title %}


{% block nav %}{% include "nav.html" with active_students='active' %}{% endblock nav %}


{% block jumbotron %}{% endblock jumbotron %}

{% block table %}
<h2>Удалить студента {{ object.first_name }} {{ object.surname }}?</h2>
<div class="table-responsive">

<form method="post">
{% csrf_token %}
<input type="submit" value="Удалить">
</form>

</div>
{% endblock table %}
