{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Список студентов{% endblock %}

{% block nav_class_students %}class="active"{% endblock %}


{% block body %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <a class="button-main" href="{% url 'students:student_add' %}">
      <button type="button" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Добавить нового студента
      </button>
    </a>

    <div class="table-responsive">
      <table class="table table-hover">
        <caption>Список студентов</caption
        <thead>
          <tr>
            <th>№</th>
            <th>Фамилия и имя</th>
            <th>Адрес</th>
            <th>Skype</th>
            <th>Курсы</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for student in student_list %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'students:student_detail' student.id %}">{{ student.surname }} {{ student.name }}</a></td>
            <td>{{ student.address|truncatechars:50 }}</td>
            <td>{{ student.skype }}</td>
            <td>
              {% for course in student.courses.all %}
              <p>
              <a href="{% url 'courses:course_detail' course.id %}">{{ course.name }}</a>
              </p>
              {% endfor %}
            </td>
            <td>
              <a class="button" href="{% url 'students:student_edit' student.id %}">
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Изменить
                </button>
              </a>
            </td>
            <td>
              <a class="button" href="{% url 'students:student_remove' student.id %}">
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Удалить
                </button>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if is_paginated %}
        <nav>
          <ul class="pagination">

            {% if page_obj.has_previous %}
              <li><a href="{{ pagination_prefix }}page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% endif %}

            {% for page in page_obj.paginator.page_range %}
              {% if page == page_obj.number %}
                <li class="active"><a href="{{ pagination_prefix }}page={{ page }}">{{ page }}</a></li>
              {% else %}
                <li><a href="{{ pagination_prefix }}page={{ page }}">{{ page }}</a></li>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <li><a href="{{ pagination_prefix }}page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% endif %}

          </ul>
        </nav>
      {% endif %}

    </div>
{% endblock body %}

