{% extends 'students/index.html' %}
{% load staticfiles %}


{% block title %} {{ page_title }} {% endblock title %}


{% block content %}
  {% if form %}
   <h3>{{ h3_title }}</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Сохранить" />
    <a href="{% url 'students:index' %}">
      <input type="button" class="btn btn-primary" name="Cancel" value="Отмена" />
    </a>
  </form>
  {% endif %}
  <br />
{% endblock content %}