{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Список студентов{% endblock %}


{% block nav_class_students %}active{% endblock %}

{% block main %}
<!-- Students ================================================== -->

    <div class="container">
      <h1>Список студентов</h1>
    </div>

    <div class="container">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Фамилия Имя</th>
              <th>Аватарка</th>
              <th>Адрес</th>
              <th>Skype</th>
              <th>Курсы</th>
            </tr>
          </thead>
          {% for student in object_list %}
          <tbody>
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a href="{% url 'student' id=student.id %}">{{ student.surname }} {{ student.name }}</a></td>
              <td><img src="{{ student.image.url }}" height="100"></td>
              <td><a href="https://www.google.com.ua/maps/place/{{ student.address }}">{{ student.address }}</a></td>
              <td><a href="skype:{{ student.skype }}">{{ student.skype }}</a></td>
              <td>
              {% for course in student.course.all %}
                <p><a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a></p>
              {% endfor %}
              </td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
    </div>
{% endblock main %} 
