{% extends "base.html" %}


{% block title %}{{object.first_name}} {{object.surname}} - студент Pybursa на курсах:
    {% for c in object.course.all %}
        {{c.name}}{% if object.course.all|length != forloop.counter %}, {% else %}{% endif %}
    {% endfor %}
{% endblock title %}


{% block nav %}{% include "nav.html" with active_students='active' %}{% endblock nav %}


{% block jumbotron %}{% endblock jumbotron %}

{% block table %}
<p><a href="{% url 'student_list' %}">Вернуться к списку</a></p>
<h2>{{object.first_name}} {{object.surname}}</h2>
<div class="table-responsive">
<table class="table table-hover">
  <tbody>
    <tr data-href="http://google.com">
      <th scope="row">Дата рождения</th>
      <td>{{object.birdth_date|date:"d.m.Y"}}</td>
    <tr>
      <th scope="row">Адрес</th>
      <td>{{object.adress}}</td>
    </tr>
    <tr>
      <th scope="row">Почта</th>
      <td>{{object.email}}</td>
    </tr>
    <tr>
      <th scope="row">Логин skype</th>
      <td>{{object.skype}}</td>
    </tr>
    <tr>
      <th scope="row">Телефон</th>
      <td>{{object.phone}}</td>
    </tr>
    <tr>
      <th scope="row">Курсы</th>
      <td>{% for c in object.course.all %}
          <a href="{% url 'course' c.id %}">{{c.name}}</a><br />{% endfor %}</td>
    </tr>
  </tbody>
</table>
</div>
{% endblock table %}
