{% extends "base.html" %}


{% block title %}Отредактировать данные студента {{ object.first_name }} {{ object.surname }}{% endblock title %}


{% block nav %}{% include "nav.html" with active_students='active' %}{% endblock nav %}


{% block jumbotron %}{% endblock jumbotron %}

{% block table %}
<h2>Отредактировать студента {{ object.first_name }} {{ object.surname }}</h2>
<div class="table-responsive">

<form method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Редакрировать данные">
</form>

</div>
{% endblock table %}
