{% extends 'students/base.html' %}

{% block page_header %}Список студентов{% endblock %}

{% block page_content %}
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>фамилия имя</th>
          <th>адрес</th>
          <th>skype</th>
          <th>курсы</th>
        </tr>
      </thead>
      <tbody>
        {% for students_list in students_all %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="{% url 'students:student_info' students_list.id %}">{{ students_list.surname }} {{ students_list.name }}</a></td>
          <td>{{ students_list.address }}</td>
          <td>{{ students_list.skype }}</td>
          <td>
            {% for course_list in students_list.courses.all %}
             <p><a href="{% url 'courses:course_info' course_list.id %}">{{ course_list.name }}</a></p> 
            {% endfor %}
          </td> 
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock page_content %}