{% extends "layout.html" %}

{% block title %}
Detail info 
{% endblock %}

{% block content %}

<div class="detail-info">
  <h2 class="h2-center">Информация о преподавателе</h2>
    <div>
      <table class="table table-striped table-style" style="width:100%">
        <tr>
          <th>Имя и Фамилия</th>
          <td>{{ coach_name }}</td>
        </tr>

        <tr>
          <th>Дата рождения</th>
          <td>{{ coach_info.birth }}</td>
        </tr>

        <tr>
          <th>Почта</th>
          <td>{{ coach_info.user.email }}</td>
        </tr>

        <tr>
          <th>Телефон</th>
          <td>{{ coach_info.phone }}</td>
        </tr>

        <tr>
          <th>Адрес</th>
          <td>{{ coach_info.address }}</td>
        </tr>

        <tr>
          <th>Логин skype</th>
          <td>{{ coach_info.skype }}</td>
        </tr>

        <tr>
          <th>Курсы 'учитель'</th>
          <td>
            {% for coach_course in coach_courses %}
              <h5>
                <a href="{% url 'courses:show' coach_course.id %}">
                  {{ coach_course.title }}
                </a>
              </h5>
              Студенты курса 
              <a href="{% url 'students:students_list' %}?course_id={{ coach_course.id }}">
                <span class="glyphicon glyphicon-new-window"></span>
              </a>
            {% endfor %}
          </td>
        </tr>

        <tr>
          <th>Курсы 'ассистент'</th>
          <td>
            {% for assistant_course in assistant_courses %}
              <h5>
                <a href="{% url 'courses:show' assistant_course.id %}">
                  {{ assistant_course.title }} 
                </a>  
              </h5> 
              Студенты курса 
              <a href="{% url 'students:students_list' %}?course_id={{ assistant_course.id }}">
                <span class="glyphicon glyphicon-new-window"></span>
              </a>
            {% endfor %}
          </td>
        </tr>

      </table>
    </div>
</div>
{% endblock %}