{% extends "templates/base_students.html" %}


{% block title %}Information about the student{% endblock title %}


{% block name_table %}Информация о преподавателе{% endblock name_table %}


{% block maincontain %}
<h2 class="sub-header">{{coach.user.get_full_name}}</h2>
<table class="table">
    <thead>
        <th> Дата рождения </th>
        <th> Адрес </th>
        <th> Почта </th>
        <th> Cкайп </th>
        <th> Телефон </th>
        <th> Инструтор курсов</th>
        <th> Ассистент курсов</th>
    </thead>
    <tbody>
        <tr>
            <td>{{ coach.date_of_birth|date:"D d N Y" }}</td>
            <td>{{ coach.address }}</td>
            <td>{{ coach.user.email }}</td>
            <td>{{ coach.skype }}</td>
            <td>{{ coach.phone }}</td>
            <td>{% if course_instructor %}
                   {% for course in course_instructor %}
                   <a href="{% url 'courses:course_description' course.id %}">{{course}}</a></br>
                   <a href="{% url 'students:students_of_the_course' %}?course_id={{course.id}}"> студенты инструктора</a></br>
                   {% endfor %}
                {% endif %}</td>
                <td>{% if course_assistant %}
                        {% for course in course_assistant %}
                        <a href="{% url 'courses:course_description' course.id %}">{{course}}</a></br>
                        <a href="{% url 'students:students_of_the_course' %}?course_id={{course.id}}"> студенты ассистента</a></br>
                        {% endfor %}
                    {% endif %}</td>
        </tr>
    </tbody>
</table>
{% endblock maincontain %}