.b1 {
    background: #CCC;
}

.b1 img {
    margin: 15px;
}

.nav {
    font-size: 30px;
}
#main-table thead tr {
    background: #ссс;
    color: #000;
}
.c {
    border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px 15px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    color: #000; /* Цвет текста */
}
.c:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #a00;
}
div.blok-f {
position: fixed;
left: 250px;
top: 600px;
width: 900px
}

div.blok-f2 {
position: fixed;
left: 0px;
top: 0px;
width: 100%
}
