body
{
  background: #f7f2ea;
}

.jumbotron
{
  background: #f4c63d;
  color: #f7f2ea;
}

.jumbotron h1, a
{
  color: #453d3f;
}

.jumbo_internal
{
  padding: 10px;
  background-color: #e1752b;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #453d3f;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #7b6d70;
}

.navbar-inverse {
  background-color: #453d3f;
  border-color: #080808;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  color: #f4c63d;
  background-color: #453d3f;
  border-color: #337ab7;
}

/*
.col-xs-6, .col-lg-4{
  border: 1px solid #ddd;
  margin-bottom: 0;
  border-radius: 4px;
}
*/

.list-group_opersian
{
  /*padding-left: 0px;*/
  padding-right: 270px;
  margin-bottom: 20px;
}

.list-group_opersian h2
{
  text-align: center;
}

.list-group-item
{
  background: #f4c63d;
}

#a_center
{
  text-align: center;
 /* padding-right: 270px;
  margin-bottom: 20px;*/
}

.list-group-item
{
  border: 1px solid #eadbc4;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus
{
  border-color: #eadbc4;
}

.td_no
{
  width: 35px;
}
/*.td_ratio
{
  width: 120px;
}
.td_week
{
  width: 100px;
}
.td_control
{
  width: 100px;
}
.td_mark
{
  width: 100px;
}*/


table
{
  background-color: #f8dc8a;
}
.table-hover > tbody > tr:hover {
  background-color: #f6d163;
}
th
{
  background-color: #F4C63D;
  color: #453d3f;
}

img
{
  margin-bottom: 20px;
}

#student_details
{
	padding-right: 260px;

}
.well
{
 background-color: #d2dbe3;
}
.up
{
  margin-top: 20px;
}
.big_tr
{
  font-weight: bold;
}

.big_tr :hover 
{
  font-size:larger;
}

#ratings
{
   background-color: #d2dbe3;
}
#ratings th
{
   background-color: #286090;
   color: #fff;
}
#ratings tr:hover {
  background-color: #d2dbe3;
}
.msg_ital
{
  font-style: italic;
}

h3
{
  color: #e1752b;
  font-weight: bold;
}

.h3_center
{
  text-align: center;
}

.specific_menu
{
  color: #e1752b;
}

										
