{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Pybursa.Курсы{% endblock %}


{% block nav_st_detail %}{% endblock %}


{% block bodyhead %}{% endblock %}


{% block content %}
<p><h1 align="center">{{ planmodel.name }}</h1></p>
<p><h3 align="center">{{ planmodel.description }}</h3></p><br>

{% include "teachers.html" %}

<h1 align="center">План курса</h1><br>
<table class="table table-bordered">
    <thead>
       <tr>
           <th>#</th>
           <th>Тема</th>
           <th>Описание</th>
       </tr>
    </thead>
    {% for i in lessons %}
    <tbody>
       <tr>
           <td>{{ i.order_number }}</td>
           <td>{{ i.subject }}</td>
           <td>{{ i.description }}</td>
       </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock content %}