{% extends "base.html" %}


{% block page_title %}Course {{ block.super }}{% endblock %}


{% block nav_main %}active{% endblock %}


{% block content %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
        {{ message }}
      </div>
    {% endfor %}
  </ul>
{% endif %}
      <div class="jumbotron">
        <h2>{{ course.name|upper }}</h2>
        <p class="lead">{{ course.description }}</p>
      </div>

{% include "include_coach.html" with block_title="Учитель" instructor=course.trainer %}   

{% include "include_coach.html" with block_title="Ассистент" instructor=course.assistant %}    

      <h2 class="sub-header">План курса</h2>
      <a class="btn btn-primary active" 
         href="{% url 'courses:add_lesson' course.id %}" role="button">
         <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
         Добавить занятие
      </a>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>№</th>
                  <th>Тема</th>
                  <th>Описание</th>
                </tr>
              </thead>
              <tbody>
              {% for lesson in lessons %}
                <tr>
                  <td>{{ lesson.number }}</td>
                  <td>{{ lesson.theme }}</a></td>
                  <td>{{ lesson.description }}</td>
                </tr>
               {% endfor %} 
              </tbody>
            </table>
          </div>
    
{% endblock %}