{% extends "layout.html" %}

{% block title %}
Course detail info
{% endblock %}

{% block content %}
<div class="course-info">
  <h2>{{ course.title}}</h2>
  <p>{{ course.descr_full|linebreaksbr}}</p>

  <div class="teaches">
    <h2>Преподаватели</h2>

    {% if coach_info %}
      {% include "inc_coach.html" with block_title="Преподаватель" coach=course.coach %}
    {% endif %}

    {% if assistant_info %}
      {% include "inc_assistant.html" with block_title="Ассистент" assistant=course.assistant %}
    {% endif %}

  </div>

  <div>
    <h2>План курса</h2>
    <div class="courses">
      <table class="table table-striped" style="width:100%">
      <thead>
        <tr>
          <th>№</th>
          <th>Тема</th>
          <th>Описание</th>
        </tr>
      </thead>
      <tbody>
        {% for lesson in course_lessons %}
        <tr>
          <td>{{ lesson.num_in_plan }}</td>
          <td>{{ lesson.theme }}</td>
          <td>{{ lesson.descr|linebreaksbr }}</td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
