{% extends "layout.html" %}

{% block title %}
Course detail info
{% endblock %}

{% block content %}
<div class="course-info">
  <h2>{{ course.title}}</h2>
  <p>{{ course.descr_full}}</p>

  <div class="teaches">
    <h2>Преподаватели</h2>

    {% if coach_info %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Преподаватель</h3>
      </div>
      <div class="panel-body">
        <a href="{% url 'coaches:coach_show' coach_info.id %}">
          <h4>{{ coach_info.name }}</h4>
        </a>
        {{ coach_info.descr }}
      </div>
    </div>
    {% endif %}

    {% if assistant_info %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Ассистент</h3>
      </div>
      <div class="panel-body">
        <a href="{% url 'coaches:coach_show' assistant_info.id %}">
          <h4>{{ assistant_info.name }}</h4>
        </a>
        {{ assistant_info.descr }}
      </div>
    </div>
    {% endif %}

  </div>

  <div>
    <h2>План курса</h2>
    <div class="courses">
      <table class="table table-striped" style="width:100%">
      <thead>
        <tr>
          <th>№</th>
          <th>Тема</th>
          <th>Описание</th>
        </tr>
      </thead>
      <tbody>
        {% for lesson in course_lessons %}
        <tr>
          <td>{{ lesson.num_in_plan }}</td>
          <td>{{ lesson.theme }}</td>
          <td>{{ lesson.descr }}</td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
