{% extends 'base.html' %}


{% load staticfiles %}


{% block title %} {{ course.name }} {% endblock title %}


{% block students_link %}{% url 'students:students_of_the_course' %}?course_id={{ course.id }}{% endblock %}


{% block container %}


{%include 'inc_ooniversity_descr.html' %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} >
        {{ message }}
      </div>
    {% endfor %}
  </ul>
{% endif %}

  <div class="container">
      <div class="jumbotron">
          <h1 >{{ course.name }}</h1>
          <p>{{ course.description }}</p>
      </div>
  </div>


  <div class="table-responsive">
      <table class="table table-hover">
          <h2 align='center'>Преподаватели курса</h2>
          <thead>
              <tr>
                  <th>Преподаватели курса</th>
                  <th>Достижения</th>
              </tr>
          </thead>
          <tbody>
               <tr>
                   <td><a href="{% url 'coaches:coach_info' course.instructor.id %}">{{ course.instructor }}</a></td>
                   <td>{{ course.instructor.description }}</td>
               </tr>
               <tr>
                   <td> <a href="{% url 'coaches:coach_info' course.assistant.id %}">{{ course.assistant }} </a></td>
                   <td>{{ course.assistant.description }}</td>
               </tr>

          </tbody>
      </table>
  </div>



  <div class="table-responsive">
      <table class="table table-hover">
          <h2 align='center'> План курса </h2>

          <a class="btn btn-primary active"
          href="{% url 'courses:add_lesson' course.id %}" role="button">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Добавить занятие
          </a>

          <thead>
              <tr>
                  <th>#</th>
                  <th>Тема</th>
                  <th>Описание</th>
              </tr>
          </thead>
          <tbody>
              {% for lesson in lessons %}
                  <tr>
                      <td> {{ lesson.number }}</td>
                      <td> {{ lesson.theme|default:"Тема отсутствует"  }}</td>
                      <td>{{ lesson.description|truncatechars:50 }}</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
{% endblock container %}


