{% extends "base.html" %}

{% block page_title %}Main {{ block.super }}{% endblock %}

{% block content %}
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="">Главная</a></li>
            <li role="presentation"><a href="{% url 'list-students' %}">Студенты</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">MathBursa</h3>
      </div>

      <div class="jumbotron">
        <h2Высшая математика</h2>
        <p class="lead">Наши занятия помогут вам освоить основы высшей математики. Сложное станет простым. На наших занятиях вы будете развивать свое логическое мышление, пространственное воображение.</p>
      </div>

      <h2 class="sub-header">Список курсов</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Курс</th>
                  <th>Описание</th>
                </tr>
              </thead>
              <tbody>
              {% for course in courses %}
                <tr>
                  <td><a href="{% url 'course-description' course.id %}">{{course.name}}</a></td>
                  <td>{{course.short_description}}</td>
                </tr>
              {% endfor %} 
              </tbody>
            </table>
          </div>

      
    </div> <!-- /container -->
{% endblock %}