{% extends "courses/base.html" %}


{% load static from staticfiles %}


{% block title%}
	{{ course.name }} - pyBursa
{% endblock title %}


{% block main_content%}
		<div class="container">
			
			<ol class="breadcrumb">
			  <li class="active">Главная</li>
			</ol>
			<div class="jumbotron">
				<div class="jumbo_internal">

					<h1>{{ course.name }}</h1>
					<p>
						{{ course.description }}
					</p>
				</div>
			</div>

			<h2>
				Преподаватели
			</h2>
			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title">Учитель</h3>
				</div>
				<div class="panel-body">
				    <a href="{% url "coaches:oneof" trainer.id %}">{{ trainer.user.first_name }} {{ trainer.user.last_name }}</a>
				    <br />
				    {{ trainer.description }}
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title">Ассистент</h3>
				</div>
				<div class="panel-body">
				    <a href="{% url "coaches:oneof" assistant.id %}">{{ assistant.user.first_name }} {{ assistant.user.last_name }}</a>
				    <br />
				    {{ assistant.description }}
				</div>
			</div>
			
			<div class="panel panel-default">
		      <!-- Default panel contents -->
		      <div class="panel-heading">План курса</div>

		      <!-- Table -->
		      <table class="table">
		        <thead>
		          <tr>
		          	 <th scope="row">#</th>
		            <th>Урок</th>
		            <th>Описание</th>
		          </tr>
		        </thead>
		        <tbody>
		        {% for l in lessons %}
		          <tr>
		          	 <th scope="row">{{ l.num }}</th>
		            <td>{{ l.theme }}</td>
		            <td>{{ l.description }}</td>
		          </tr>
		        {% endfor%}
		        </tbody>
		      </table>
		    </div>
{% endblock main_content%}