<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static from staticfiles %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ course.name }}</title>
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}">
		<link rel="stylesheet" href="{% static "bootstrap/css/style.css" %}">
	</head>
	<body>
		<!-- Static navbar -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Go Python!</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active">
			              <a href="{% url "home" %}">Главная<span class="sr-only">(current)</span></a>
			            </li>
			            <li>
			              <a href="{% url "contact" %}">Контакты</a>
			            </li>
			            <li>
			              <a href="{% url 'students:index' %}?course_id={{ course.id }}">Студенты</a>
			            </li>
			            <li>
			              <a href="{% url "polls:index" %}">Polls</a>
			            </li>
			            <li>
			              <a href="{% url "quadratic" %}">Quadratic</a>
			            </li>
			            <li>
			              <a href="{% url "admin:index" %}">Admin</a>
			            </li>
					</ul>
					</ul>
				</div><!--/.nav-collapse -->
			</div><!--/.container-fluid -->
		</nav>

		<div class="container">
			
			<ol class="breadcrumb">
			  <li class="active">Главная</li>
			</ol>
			<div class="jumbotron">
				<div class="jumbo_internal">
					<h1>{{ course.name }}</h1>
					<p>
						{{ course.description }}
					</p>
				</div>
			</div>
			<div class="panel panel-default">
		      <!-- Default panel contents -->
		      <div class="panel-heading">План курса</div>

		      <!-- Table -->
		      <table class="table">
		        <thead>
		          <tr>
		          	 <th scope="row">#</th>
		            <th>Урок</th>
		            <th>Описание</th>
		          </tr>
		        </thead>
		        <tbody>
		        {% for l in lessons %}
		          <tr>
		          	 <th scope="row">{{ l.num }}</th>
		            <td>{{ l.theme }}</td>
		            <td>{{ l.description }}</td>
		          </tr>
		        {% endfor%}
		        </tbody>
		      </table>
		    </div>

			
		</div><!--/.container-->

		<footer class="footer">
			<div class="container">
				<p class="text-muted">
					2015 &copy; PyBursa. Created by maximbilozorov
				</p>
			</div>
		</footer>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	</body>
</html>
