<p><h2 align="center">Преподаватели курса</h2></p>
<div class="container">
    {% if planmodel.coach %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Учитель: <a href="{% url 'coaches:coach' planmodel.coach.id %}">
              {{ planmodel.coach.full_name|upper }}</a></h3>
        </div>
        <div class="panel-body" style="width: 100%; height: auto">

          <p>{{ planmodel.coach.description }}</p>
        </div>
      </div>
    </div>
    {% endif %}
    {% if planmodel.assistant %}
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Асcистент: <a href="{% url 'coaches:coach' planmodel.assistant.id %}">
              {{ planmodel.assistant.full_name|upper }}</a></h3>
        </div>
        <div class="panel-body">
           <p>{{ planmodel.assistant.description|truncatechars:120 }}</p>
           </div>
      </div>
    {% endif %}
</div>
