{% extends "base.html" %}

{% block title %}Pybursa. Добавление занятия{% endblock title %}


{% block students_link %}
<a href="{% url 'students:students_on_course'%}?course_id={{course.id}}">
{% endblock students_link %}


{% block main_contant %}

<div class="panel panel-default">
  <div class="panel-heading"><h3>Добавление курса</h3></div>
  <div class="panel-body">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type = "Submit" class="btn btn-primary btn-lg" value="Добавить" >  
    </form>
   </div>
 </div>

{% endblock main_contant %}   
