{% extends "base/base.html" %}

{% load staticfiles %}


{% block title %}
  Контакты
{% endblock %}


{% block menu_contact %}active{% endblock menu_contact %}


{% block main_content %}

        <h2>
          ooniversity
        </h2>

        <div>
          <h4>
            Тут контакты организаторов. <br>
            Тут контакты организаторов. <br>
            Тут контакты организаторов. <br>
            Тут контакты организаторов. <br>
          </h4>
        </div>

        <h4>
          
        </h4>

{% endblock main_content %}

