<!DOCTYPE html>
<html lang="ru">
  <head>
    {%load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href= "{% static "img/favicon.ico" %}">
    <title>Pybursa. Курс</title>
    <!-- Bootstrap and mystyle-->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/mystyle.css" %}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default"><!--What is this tab-->
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'courses_main' %}"><img alt="Brand" src="{% static 'img/pybursa_logo.png' %}" width="21px"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'courses_main' %}">Главная</a></li>
            <li><a href="{% url 'contact_list' %}">Контакты</a></li>
            <li><a href="{% url 'students:students_on_course'%}?course_id={{course_id}}">
            Студенты</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav> 
    <div class="panel panel-default">
      <div class="panel-body"><h1>Преподаватели</h1></div>    
      <div class="panel-heading"><span><h4>Учитель:</h4></span></div>
      <div class="panel-body"><a href="{% url 'coaches:coach_info' coach.id %}">{{coach}}</a><br>
      {{coach.description}}
      </div>    
      <div class="panel-heading"><p><h4>Ассистент:</h4></p></div>
      <div class="panel-body"><a href="{% url 'coaches:coach_info' coach.id %}">{{assistant}}</a><br>
      {{assistant.description}}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body"><h1>План курса</h1></div>
    </div>
    <table class="table">
      <tr>
        <th class="column10">#</th>
        <th class="column20">Тема</th> 
        <th>Описание</th>
      </tr>
      {% for lesson in lessons %}
      <tr>
        <td>{{lesson.number}}</td>
        <td>{{lesson.theme}}</td>
        <td>{{lesson.description}}</td>
      </tr>
      {% endfor %}
    </table>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
  </body>
</html>
