{% extends "base.html" %}


{% load staticfiles %}


{% block title %} PyBursa Courses {% endblock title %}


{% block nav_class_index %}active{% endblock %}


{% block students_link %}{% url 'students:students' %}?course_id={{ course.id }}{% endblock %}


{% block main_content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% include "inc_course_description.html" %}


{% include "inc_instructor.html" with block_title="Учитель" instructor=course.coach %}


{% include "inc_instructor.html" with block_title="Ассистент" instructor=course.coach %}

<h3><a href="{% url 'courses:add_lesson' course.id %}">Добавить новый урок</a></h3>

{% include "inc_lessons.html" with lessons=course.lesson_set.all %}


{% endblock main_content %}
