{% extends "base.HTML" %}

{% load static from staticfiles %}

{% block title %}IT Bursa - {{ course.name|title }}{% endblock title %}


{% block students_list %}<a href="{% url 'students:student_list' %}?course_id={{ course.id }}">студенты</a>{% endblock students_list %}

{% block main_content %}
<!--Вставка слайдера-->
{% include "inc_main_slider.HTML"%}

  <!--Курс Питон датальная информация представленная в табличной форме-->
  <div class="row">
    <h2 class="sub-header">{{ course.name }}</h2>
    <p class = "p-courses">{{ course.discription }}</p>
    <h2 class="media-heading">ПРЕПОДАВАТЕЛИ КУРСА</h2>

<!--Информация о преподавателе курса -->
{% include 'inc_coach.HTML' with block_title='преподаватель' instructor=course.teacher %}

    <br><br><br><br><br>

<!--Иформация о ассистенте курса -->
{% include 'inc_coach.HTML' with block_title='ассистент' instructor=course.assistent %}
    <h2 class="media-heading">ПЛАН КУРСА</h2>
    <div class="table-responsive">
      <table ip = 'base-python' class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>ТЕМА</th>
            <th>СОДЕРЖАНИЕ</th>
          </tr>
        </thead>
        <tbody>
          {% for lesson in lessonss %}
            <tr>
              <td>
                {{ forloop.counter }}
              </td>
              <td>
                {{ lesson.theme }}
              </td>
              <td>
                {{ lesson.discription }}
              </td>
            </tr>
          {% empty %}
            ни один урок пока не создан
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock main_content %}
