{% extends "base.html" %}

{% block title %}Pybursa. Главная{% endblock title %}


{% block nav_class_main %}active{% endblock %}


{% block students_link %}
<a href="{% url 'students:list' %}">
{% endblock students_link %}

{% block main_contant %}


{% block message %} 
<div class="row">
  {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
   {% endfor %}
  </ul>
  {% endif %}
</div>
{% endblock message%} 

<div class="jumbotron"><h1>ooniversity</h1>
  <p><h3>Профессиональные курсы, специализирующиеся на "модных" языках программирования</h3></p> 
    <br>
    <br>     
</div>
<div class="list-group">
  <a class="list-group-item active">
    <b>Преимущества курсов:</b>
  </a>
  <a class="list-group-item">Учат не слушать, а решать поставленные задачи</a>
    <a class="list-group-item">Практика занимает 90% учебного процесса</a>
    <a class="list-group-item">Написание реального проекта</a>
    <a class="list-group-item">Командная работа</a>
    <a class="list-group-item">Рейтинговая система</a>
    <a class="list-group-item">Дедлайны</a>
    <a class="list-group-item">В работе это пригодится!</a>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>Выбирай курс, на котором хочешь учиться!</h3>
    </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <a class="btn btn-primary" href="{% url 'courses:add_course' %}" role="button">Добавить курс</a>
    </div>
  </div>

  <table class="table main-table" >
    <tr>
      <th class="column25">Курс</th>
      <th>Описание</th>
      <th class="column05"></th>
      <th class="column05"></th> 
    </tr> 
    {% for course in courses %}
    <tr>
      <td><a href="{% url 'courses:course_info' course.id %}"><b>{{ course.title }}</b></a></td>
      <td>{{ course.short_description }}</td>

      <td>
        <p><a class="btn btn-success" href="{% url 'courses:edit_course' course.id%}" role="button">Изменить</a></p>  
      </td>
      
      <td>
      <p><a class="btn btn-danger" href="{% url 'courses:remove_course' course.id %}" role="button">Удалить</a></p>  
      </td>
    </tr>

    {% endfor %}
  </table>       
</div>

{% include "inc_add_events.html" %} 

{% endblock main_contant %}
