{% extends "base.html" %}

{% block title %}Pybursa. Курс{% endblock title %}


{% block students_link %}
<a href="{% url 'students:list'%}?course_id={{course.id}}">
{% endblock students_link %}


{% block main_contant %}

{% block message %} 
<div class="row">
  {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
   {% endfor %}
  </ul>
  {% endif %}
</div>
{% endblock message %}


<h3>{{ course.title|upper }}</h3>

<div class="panel-body"><h3>Преподаватели</h3></div> 
{% if course.coach %}  <!---tests-->
<div class="panel panel-default">      
  <div class="panel-heading"><h4>Учитель:</h4></div>
  <div class="panel-body"><p><h4><a href="{% url 'coaches:coach_info' course.coach.id %}">
  {{ course.coach }}</a></h4></p>{{ course.coach.description }}</div>
</div>
{% endif %}
{% if course.assistant %} <!---tests-->
<div class="panel panel-default"> 
  <div class="panel-heading"><p><h4>Ассистент:</h4></p></div>
  <div class="panel-body"><p><h4><a href="{% url 'coaches:coach_info' course.assistant.id %}">
  {{ course.assistant }}</a></h4></p>{{ course.assistant.description }}</div>
</div>
{% endif %}

<div class="panel-body"><h3>План курса</h3></div>
<div class="panel panel-default">
  <div class="panel-body">
    <a class="btn btn-primary" href="{% url 'courses:add_lesson' course.id %}" role="button">Добавить занятие</a>
  </div>
  <table class="table">
    <tr>
      <th class="column10">#</th>
      <th class="column20">Тема</th> 
      <th>Описание</th>
    </tr>
    {% for lesson in course.lesson_set.all %}
    <tr>
      <td>{{ lesson.number }}</td>
      <td>{{ lesson.theme }}</td>
      <td>{{ lesson.description }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% include 'inc_add_events.html' %}

{% endblock main_contant %}
