{% extends "base.html" %}

{% block title %}Pybursa. Курс{% endblock title %}


{% block students_link %}
<a href="{% url 'students:students_on_course'%}?course_id={{course.id}}">
{% endblock students_link %}


{% block main_contant %}

<h1>{{ course.title|upper }}</h1>
<div class="panel panel-default">
  <div class="panel-body"><h2>Преподаватели</h2></div>    
  <div class="panel-heading"><span><h4>Учитель:</h4></span></div>
  <div class="panel-body"><a href="{% url 'coaches:coach_info' coach.id %}">{{ coach }}
  </a><br>
  {{ coach.description }}
  </div>    
  <div class="panel-heading"><p><h4>Ассистент:</h4></p></div>
  <div class="panel-body"><a href="{% url 'coaches:coach_info' assistant.id %}">{{ assistant }}</a><br>
  {{ assistant.description }}
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body"><h2>План курса</h2></div>
</div>
<table class="table">
  <tr>
    <th class="column10">#</th>
    <th class="column20">Тема</th> 
    <th>Описание</th>
  </tr>
  {% for lesson in lessons %}
  <tr>
    <td>{{ lesson.number }}</td>
    <td>{{ lesson.theme }}</td>
    <td>{{ lesson.description }}</td>
  </tr>
  {% endfor %}
</table>

{% include "inc_add_events.html" %}

{% endblock main_contant %}
