{% extends "base.HTML" %}

{% load static from staticfiles %}

{% block title %}IT Bursa - {{ course.name|title }}{% endblock title %}


{% block css_for_page %}
    <link href="{% static "students-list.css" %}" rel="stylesheet">
{% endblock css_for_page %}


{% block students_list %}<a href="{% url 'students:student-list' %}?course_id={{ course.id }}">студенты</a>{% endblock students_list %}

{% block main_content %}
<!--Вставка слайдера-->
{% include "inc_main_slider.HTML"%}
<!--Сообщение-->
{% include "inc_message.HTML"%}

  <!--Курс Питон датальная информация представленная в табличной форме-->
  <div class="row">
    <h2 class="sub-header">{{ course.name }}</h2>
    <p class = "p-courses">{{ course.discription }}</p>
    <h2 class="media-heading">ПРЕПОДАВАТЕЛИ КУРСА</h2>

<!--Информация о преподавателе курса -->
  {% if course.teacher %}
    {% include 'inc_coach.HTML' with block_title='преподаватель' instructor=course.teacher %}
  {% else %}
    <p>Преподаватель курса пока не определен</p>
  {% endif %}
    <br><br><br><br><br>


<!--Иформация о ассистенте курса -->
  {% if course.assistent %}
    {% include 'inc_coach.HTML' with block_title='ассистент' instructor=course.assistent %}
  {% else %}
    <p>Ассистент курса пока не определен</p>
  {% endif %}
    <!--Кнопка добавить нового студента-->
    <div class="row">
      <a class="add btn btn-success btn-md " href="add_lesson/">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить новый урок
      </a>
    </div>
    <h2 class="media-heading">ПЛАН КУРСА</h2>
    <div class="table-responsive">
      <table ip = 'base-python' class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>ТЕМА</th>
            <th>СОДЕРЖАНИЕ</th>
          </tr>
        </thead>
        <tbody>
          {% for lesson in course.lesson_set.all %}
            <tr>
              <td>
                {{ forloop.counter }}
              </td>
              <td>
                {{ lesson.theme }}
              </td>
              <td>
                {{ lesson.discription }}
              </td>
            </tr>
          {% empty %}
            ни один урок пока не создан
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock main_content %}
