{% extends "students/base.html" %}


{% load staticfiles %}


{% block title %}Course Detail{% endblock title %}


{% block goToStudentCourse %} "{% url 'students:students' %}?course_id={{courses.crs.id}}" {% endblock %}


{% block nav_class_students %}{% endblock %}


{% block main_content %}

<div class="jumbotron">
  			<div class="container">

					<h1>{{ courses.crs.name }}</h1>
 				  <p>{{ courses.crs.description|truncatechars:158 }}</p>
  				
    
  			</div>
		</div>	
</div>

<div class='container'>
	<h2>Преподаватели</h2>
	<!-- 
	TEACHER START
	-->

{% include "courses/inc_instructor.html" with block_title="Учитель" instructor=courses.cch %}

	<!-- 
	TEACHER START
	-->

	<!-- 
	ASSISTANT START
	-->
	
{% include "courses/inc_instructor.html" with block_title="Ассистент" instructor=courses.assst %}
	
	<!-- 
	ASSISTANT START
	-->
</div>
<!--TABLE
====================================================-->
<div class="container"><h3>План курса</h3>
<div class="panel panel-default">
	
  <!-- Default panel contents -->
  
<table class="table">
					<tr>
						<th>#</th>
    				<th>Урок</th>
						<th>Описание</th>
					</tr>
{% for les in courses.lssn %}
					<tr>
						<td>{{les.order_number}}</td>
						<td>{{les.theme}}</td>
						<td>{{les.description}}</td>
					</tr>
{% endfor %}						
				</table>  

</div></div>
		
{% endblock main_content %}
