﻿{% extends "base/base_index.html" %}

{% load staticfiles %}


{% block title %}
  {{ course.title }}
{% endblock %}


{% block content %}
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="{% url 'courses:index' %}">Главная</a></li>
            <li role="presentation"><a href="{% url 'students:index' %}?course_id={{course.id}}">Студенты</a></li>
            <li role="presentation"><a href="{% url 'contact' %}">Контакты</a></li>
          </ul>
        </nav>
      </div>

        <h2>
          {{ course.title }}
        </h2>

        <div>
          <h4>
            {{ course.description }} 
          </h4>
        </div>

  {% if course.coach or course.assistant %}
        <h4>
          Преподаватели
        </h4>

    {% if course.coach %}
     <div class="panel panel-default">
       <div class="panel-heading">
         <h3 class="panel-title">Учитель</h3>
       </div>
       <div class="panel-body">
         <a href="{% url 'coaches:detail' course.coach.id %}">
           {{ course.coach.full_name }}
         </a>
         <br>
         {{ course.coach.description }}
       </div>
     </div>
    {% endif %}

    {% if course.assistant %}
     <div class="panel panel-default">
       <div class="panel-heading">
         <h3 class="panel-title">Ассистент</h3>
       </div>
       <div class="panel-body">
         <a href="{% url 'coaches:detail' course.assistant.id %}">
           {{ course.assistant.full_name }}
         </a>
         <br>
         {{ course.assistant.description }}
       </div>
     </div>
    {% endif %}

  {% endif %}
        <h4>
          План курса
        </h4>

  {% if lesson_list %}     
      <table class="table table-hover">

      <thead>
        <tr>
          <th>#</th>
          <th>Тема</th>
          <th>Описание</th>
        </tr>
      </thead>
      <tbody>

    {% for lesson in lesson_list %}
        <tr >
          <td>{{ lesson.release_num }}</a></td>
          <td>{{ lesson.title }}</a></td>
          <td>{{ lesson.description }}</td>
        </tr>
    {% endfor %}

      </tbody>
    </table>

  {% else %}
    <p>No lessons are available.</p>
  {% endif %}

      <footer class="footer">
        <p>&copy; Py.bursa 2014</p>
      </footer>
{% endblock %}

