{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Курсы{% endblock %}


{% block nav_courseid%}?course_id={{ course.id }}{% endblock%}


{% block main_content%}

    <div class="container">
      <div class="jumbotron">
        <h3>{{ course.title }}</h3>
        <br>
        <p>{{ course.description }}</p>
      </div>
    </div>
    <br><br>
     <div class="container">

        <!-- Default panel contents -->
        <align="center">
        <div class="panel-heading" align="center"><h3>Преподаватели</h3></div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Учитель</h3>
          </div>
          <div class="panel-body">
          <a href="/coaches/{{ instructor.user_id }}/">{{ u_instructor.first_name }} {{ u_instructor.last_name }} </a><br>
           {{ instructor.about|truncatechars:400|default:"Мы пока ничего он нем(ней) не знаем" }}
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Ассистент</h3>
          </div>
          <div class="panel-body">
          <a href="/coaches/{{ assistant.user_id }}/">{{ u_assistant.first_name }} {{ u_assistant.last_name }} </a><br>
            {{ assistant.about|truncatechars:400|default:"Мы пока ничего он нем(ней) не знаем" }}
          </div>
        </div>



     </div>
    <br><br>
    <div class="container">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <align="center">
        <div class="panel-heading" align="center"><h3>План курса</h3></div>


        <!-- Table -->

        <table class="table">

          <tr>
          <th> <div align="center"><h5>Урок №</h5></div></th>
          <th> <div align="center"><h5>Тема занятия</h5></div></th>
         </tr>

         {% for lesson in lessons %}
         <tr><td align="center">{{ forloop.counter }}</td>
         <td>
             <p>{{ lesson.theme }}</p>
         </td>
         {% endfor %}

         </tr>

        </table>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
{% endblock main_content%}



