{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Курсы</title>

    <!-- Bootstrap -->
    <!-- link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      body
      {
          counter-reset: Serial;           /* Set the Serial counter to 0 */
      }

      table
      {
          border-collapse: separate;
      }

      tr td:first-child:before
      {
        counter-increment: Serial;      /* Increment the Serial counter */
        content: counter(Serial); /* Display the counter */
        min-width: 1em;
        margin-left: 0em;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Bursa</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Главная</a></li>
            <li><a href="/contact/">Контакты</a></li>
            <li> <a href="/students/?course_id={{ course.id }}">Студенты</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <div class="jumbotron">
        <h3>{{ course.title }}</h3>
        <br>
        <p>{{ course.description }}</p>
      </div>
    </div>
    <br><br>
     <div class="container">

        <!-- Default panel contents -->
        <align="center">
        <div class="panel-heading" align="center"><h3>Преподаватели</h3></div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Учитель</h3>
          </div>
          <div class="panel-body">
          <a href="/coaches/{{ instructor.user_id }}/">{{ u_instructor.first_name }} {{ u_instructor.last_name }} </a><br>
           {{ instructor.about }}
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Ассистент</h3>
          </div>
          <div class="panel-body">
          <a href="/coaches/{{ assistant.user_id }}/">{{ u_assistant.first_name }} {{ u_assistant.last_name }} </a><br>
            {{ assistant.about }}
          </div>
        </div>



     </div>
    <br><br>
    <div class="container">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <align="center">
        <div class="panel-heading" align="center"><h3>План курса</h3></div>


        <!-- Table -->

        <table class="table">

          <tr>
          <th> <div align="center"><h5>Урок №</h5></div></th>
          <th> <div align="center"><h5>Тема занятия</h5></div></th>
         </tr>

         {% for lesson in lessons %}
         <tr><td align="center"></td>
         <td>
             <p>{{ lesson.theme }}</p>
         </td>
         {% endfor %}

         </tr>

        </table>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>




