{% extends "base/base.html" %}

{% load staticfiles %}


{% block title %}
  Курсы
{% endblock %}


{% block menu_students %}{% endblock menu_students %}


{% block main_content %}


{% if messages %}
    {% for message in messages %}
      <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

        <h2>

        </h2>

        <div>
          <h4>
            Редактирование данных курса
          </h4>
        </div>


{% include "courses/item_form.html" %}


{% endblock main_content %}

