{% extends "base.HTML" %}

{% load static from staticfiles %}

{% block title %}IT Bursa - Редактировать курс {% endblock title %}


{% block nav_class_courses %}active{% endblock %}

{% block css_for_page %}
    <link href="{% static "students-list.css" %}" rel="stylesheet">
    <link href="{% static "forms.css" %}" rel="stylesheet">
{% endblock css_for_page %}


{% block main_content %}
  <!--Сообщение-->
  {% include "inc_message.HTML"%}

  <h3 class="media-heading"> Редактирование данных о курсе </h3><br>
  <div class="container">
    <!--Редактирование формы студента-->
    <form class ="custome" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input id="custom_btn" class="btn btn-primary"  type='submit' value="Изменить">
    </form>
  </div>
{% endblock main_content %}
