{% extends "base.html" %}

{% block title %}Pybursa. {{ page_title }}{% endblock title %}


{% block students_link %}
<a href="{% url 'students:list'%}?course_id={{course.id}}">
{% endblock students_link %}


{% block main_contant %}


{% block message %}

<div class="row">
{% if messages %}
<ul class="messages">
  {% for message in messages %}
   <div class="alert alert-success" role="alert">{{ message }}</div>
  {% endfor %}
</ul>
{% endif %}
</div> 

{% endblock message%}

<div class="panel panel-default">
  <div class="panel-heading"><h3> Изменение данных о курсе </h3></div>
  <div class="panel-body">
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type = "Submit" class="btn btn-success" value="Изменить данные" > 
    </form>
  </div>
</div>

{% endblock main_contant %}   