{% extends "base/base.html" %}

{% load staticfiles %}


{% block title %}
  Главная
{% endblock %}


{% block content %}
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="{% url 'courses_i:index' %}">Главная</a></li>
            <li role="presentation"><a href="{% url 'students:index' %}">Студенты</a></li>
            <li role="presentation"><a href="{% url 'contact' %}">Контакты</a></li>
          </ul>
        </nav>
      </div>

        <h2>
          ooniversity
        </h2>

        <div>
          <h4>
            Тут будет описание организации. Тут будет описание организации. Тут будет описание организации. Тут будет описание организации. 
            Тут будет описание организации. Тут будет описание организации. Тут будет описание организации. Тут будет описание организации. 
            Тут будет описание организации. Тут будет описание организации. Тут будет описание организации. Тут будет описание организации. 
            Тут будет описание организации. Тут будет описание организации. Тут будет описание организации. Тут будет описание организации. 
          </h4>
        </div>

        <h4>
          Выбирай на каком курсе хочешь учиться!
        </h4>

{% if course_list %}     
      <table class="table table-hover">

      <thead>
        <tr>
          <th>Курс</th>
          <th>Описание</th>
        </tr>
      </thead>

      <tbody>

    {% for course in course_list %}
        <tr>
          <td><a href="{% url 'courses:detail' course.id %}">{{ course.title }}</a></td>
          <td>{{ course.comment }}</td>
        </tr>
    {% endfor %}

      </tbody>
    </table>

{% else %}
    <p>No courses are available.</p>
{% endif %}


{% endblock %}

