{% extends "base.HTML" %}

{% load static from staticfiles %}

{% block title %}IT Bursa - Новый курс {% endblock title %}


{% block css_for_page %}
    <link href="{% static "students-list.css" %}" rel="stylesheet">
    <link href="{% static "forms.css" %}" rel="stylesheet">
{% endblock css_for_page %}


{% block nav_class_student_list %}active{% endblock %}


{% block main_content %}
  <h3 class="media-heading"> Создание нового курса </h3><br>
  <div class="container">
  <!--Создание формы для нового студента-->
  <form class ="custome" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input id="custom_btn" class="btn btn-primary"  type='submit' value="Создать">
  </form>
  </div>
{% endblock main_content %}
