{% extends "base.HTML" %}

{% load static from staticfiles %}

{% block title %}IT Bursa - Удаление курса {% endblock title %}


{% block nav_class_courses %}active{% endblock %}


{% block css_for_page %}
    <link href="{% static "students-list.css" %}" rel="stylesheet">
    <link href="{% static "forms.css" %}" rel="stylesheet">
{% endblock css_for_page %}


{% block main_content %}
  <!--Сообщение-->
  {% include "inc_message.HTML"%}

  <h3 class="media-heading"> Курс {{ course.name }} будет удален</h3><br>
  <div class="container">
      <!--Удаление студента-->
      <form class ="custome" method="post">
        {% csrf_token %}
        <input id="custom_btn" class="btn btn-danger"  type='submit' value="Удалить">
      </form>
  </div>
{% endblock main_content %}
