<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static from staticfiles %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Решение квадратного уравнения</title>
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}">
		<link rel="stylesheet" href="{% static "bootstrap/css/style.css" %}">
	</head>
	<body>
		<!-- Static navbar -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Go Python!</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active">
			              <a href="{% url "home" %}">Главная<span class="sr-only">(current)</span></a>
			            </li>
			            <li>
			              <a href="{% url "contact" %}">Контакты</a>
			            </li>
			            <li>
			              <a href="{% url "student_list" %}">Студенты</a>
			            </li>
			       		<li>
			       			<a href="{% url "polls:index" %}">Polls</a>
			            </li>
			            <li>
			              <a href="{% url "quadratic" %}">Quadratic</a>
			            </li>
			            <li>
			              <a href="{% url "admin:index" %}">Admin</a>
			            </li>
					</ul>
				</div><!--/.nav-collapse -->
			</div><!--/.container-fluid -->
		</nav>

		<div class="container">
		<h1>Решение квадратного уравнения вида a*x² + b*x + c = 0</h1>
			
			<h2>1. Новая форма</h2>

				<form action={% url "result" %}>
				<!--
				<form method='post'> 
		    	{% csrf_token %}
		    	-->
		    	{{ form.as_p }}
		    	<br />
				<button type="submit" class="btn btn-default" >
					calc
				</button>
		    	</form>
				
			<!--
			<h2>2. Старая форма</h2>
			<form action={% url "result" %}>
				a = <input size="10" name="a"> <br />
				b = <input size="10" name="b"> <br />
				c = <input size="10" name="c"> <br />
				<br />
				<button type="submit" class="btn btn-default" >
					calc
				</button>
				<button type="reset" class="btn btn-default" >
					reset
				</button>
			-->
		</div>

		<footer class="footer">
			<div class="container">
				<p class="text-muted">
					2015 &copy; PyBursa. Created by maximbilozorov
				</p>
			</div>
		</footer>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	</body>
</html>
