{% extends "base.html" %}

{% block title %} PyBursa - Создать сообщение {% endblock title %}



{% block content %}
  <br><br>
  <div class="container">
      <h3> {{ shead }}</h3>
  </div>
    <div  class="container">
        <form  method="post">
        {% csrf_token%}
          {{ form.as_p}}

          <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ prompt }}</button>
            <button type="button" class="btn"><a href="{% url 'pybursa_emails:feedback' %}">Отмена</a></button>
          </div>
        </form>

    </div>


{% endblock content %}

