.navbar-header img{
	width: auto;
	height: 52px;
	padding: 2px;
	background-position: center;
	background-size: contain;
	position: absolute;
	left: 0px;
	top: 0px;
}

#navbar ul{
	text-transform: uppercase;
	font-size: 100%;
}

#slider img{
	margin-right: auto;
  	margin-left: auto;
  	display: block;
  	padding: 4px;
  	margin-bottom: 20px;
  	line-height: 1.42857143;
  	background-color: #fff;
  	border: 1px solid #ddd;
  	border-radius: 4px;
  	-webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.placeholders{
	margin-top: 10px;
	margin-left: 25px;
}

.media-heading{
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 70px;
	text-align: center;
	margin-top: 85px;
	font-weight: bold;
	color: #993366;
	font-size: 40px;
}

.teacher1-text{
	margin-top: 30px;
	margin-right: 10px;
	margin-left: 1px;
	font-size: 17px;
	text-indent: 30px;
	text-align: justify;
}


.row {
	margin-right: 0px;
	margin-left: 0px;
}

#python, #django{
	width: 370px;
	margin-left: 10px;
	margin-right: 10px;

}

.sub-header {
	text-align: center;
	margin-top: 50px;
	font-weight: bold;
	color: #993366;
	font-size: 40px;
}

.table{
	font-size: 20px;
	background-color: #FF9900;
	padding-left: 40px;

}

.table-responsive{
	margin-left: 10px;
	margin-right: 10px;
}

.panel-footer{
	background-color:rgb(67, 72, 76);
	height: 60px;
}

.panel-footer small{
	font-size: 100%;
	padding-left: 40px;
	color: #FFF;
	vertical-align: text-bottom;
}

.panel-footer p{
	font-size: 18px;
	padding-left: 40px;
	color: #FFF;
	vertical-align: text-bottom;
	text-align: center;
}
.panel-footer i{
	margin-left: 4px;
	margin-right: 4px;

}

.thumbnail h1{
	font-weight: bold;
	text-transform: uppercase;
	color: #33CC00;
	text-align: center;
}

.thumbnail h2{
	font-weight: bold;
	text-transform: uppercase;
	color: #66CC00;
	text-align: center;
}

.reiting{
	display: inline-block;
}

.btn-group{
	margin-right: 70px;
}

.glyphicon-star{
	color: #FFCC00;

}

.thumbnail h3{
	text-align: center;
}

#date{
	padding-left: 2%;
	color: #999999;
	font-size: 15px;
	text-transform: uppercase;
}

#started, #finish{
	color: #339900;
	font-size: 22px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

#finish{
	color: #FF3300;
}

a{
	color: #047105;
}
p{
	text-align:justify;
	text-indent: 25px;
}
.p-courses{
	margin: 10px 30px 10px;
	font-size: 18px;
}
.caption{
	padding: 0px;
}

.photo-day{
	margin-left: 10px;
	margin-bottom: 30px;
	height: 200px;
	width: 310px;
}

.photo-day img{
	height: 190px;
}

.container-inner{
	margin-left: 10px;
	margin-bottom: 16px;
    background-image: url("../static/IMG/Desk_board.jpg");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
	height: 235px;
 	width: 325px;
 	padding-left: 6%;
	padding-top: 28px;
	padding-right: 21px;
}

.news-line{
	margin-left: 30px;
	width: 30%;
	background-color: #efefef;
}

.news-line h3{
	color: #666666;
	font-size: 17px;
	text-transform: uppercase;
	text-align: center;
}

.date{
	color: #CC9966;
}

.container-inner p{
	font-family: 'PT Sans', Arial;
	font-size: 14px;
	font-style: italic;
	color: #fff;
}

#autor {
	font-size: 16px;
	color: #FF3333;
}

.like {
	margin-left: 20px;
	margin-right: 20px;
	color: #009933;
}

.dislike {
	color: #FF3333;
}
