.list-group{
    margin: 20px 10% 20px 10%;
}

body{
    background-color: #cccccc;

}

.paginator{
    margin-left: 30%;
    margin-right: auto;
}

.list-group{
    border-radius: 35px;
    border: 1px solid #999;
}
