<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Курс по веб программированию на языке Python</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jumbotron-narrow.css' %}" rel="stylesheet">
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="{% url 'index' %}">Главная</a></li>
            <li role="presentation"><a href="{% url 'contact' %}">Контакты</a></li>
            <li role="presentation"><a href="{% url 'student_list' %}">Студенты</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">KievBursa</h3>
      </div>
      <div class="jumbotron">
        <h2>KievBursa - курсы по программированию в Киеве!</h2>
        <p>Курс по веб программированию на языках Python, php, Perl, ASP.NET даст вам знания для того чтобы самостоятельно создавать сайты, программы, скрипты. И найти высокооплачиваемую работу! KievBursa - более 10 лет на рынке IT образования. Более 3000 выпускников которые успешно трудоустроены.</p>
	      <p><a class="btn btn-lg btn-success" href="https://siteheart.com/webconsultation/631625?" target="siteheart_sitewindow_631625" onclick="o=window.open;o('https://siteheart.com/webconsultation/631625?', 'siteheart_sitewindow_631625', 'width=550,height=400,top=30,left=30,resizable=yes'); return false;" id="butRegister" role="button">Связаться с нами</a></p>
	    </div>

      <div class="row marketing">
        <div >
          <h2>Доступные курсы по программированию:</h2>
			<table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>
                                        Курс
                                </th>
                                <th>
                                    Описание
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    Основы Python
                                </td>
                                <td>
                                    исключения и разбор стектрейса 
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br><br><br>
				<h3>Компании, в которых работают наши выпускники:</h3>
          <p><img width="100%" src='../static/py.jpg' alt='Python companies'/></p>
        </div>
      </div>
      <footer class="footer">
        <p>&copy; Pybursa 2015</p>
      </footer>
    </div> 
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
