<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Главная</title>
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
		<link  rel="stylesheet" href="/static/style.css">
	</head>
	<body>
		<h1>TEST</h1>
		<div class="container">
			<div class="jumborton">
				<p>
					<form method="post">
						<input type="text" name='a' />
						<input type="submit"  />
					</form>
				</p>
			</div>
		</div>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<!-- <script src="/static/bootstrap/js/jquery.min.js"></script> -->
		<!-- <script src="/static/bootstrap/js/bootstrap.min.js"></script> -->
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<!-- <script src="/static/bootstrap/js/ie10-viewport-bug-workaround.js"></script> -->
	</body>
</html>
