{% extends "base.html" %}
{% load staticfiles %}

{% block body %}

<div class="page-header">
  <h1>{% block page-header %}{% endblock %}</h1>
</div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

<form method="POST">
  {% csrf_token %}
  <table>
   {{ form.as_table }}
  </table>
  <input type="Submit" value="{% block submit_button %}Submit{% endblock %}">
<form>

{% endblock body %}

