 <!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}IT Bursa{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static "IMG/icon.gif" %}" />

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "dashboard.css" %}" rel="stylesheet">
    <link href="{% static "index.css" %}" rel="stylesheet">

  {% block css_for_page %}
  {% endblock css_for_page %}

    <script src="{% static "JS/ie-emulation-modes-warning.js" %}"></script>
  </head>

  <body>

    <!--Шапка -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="{% static "IMG/logo.gif" %}"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <a href="http://pybursa.com/" class="form-control btn btn-success btn-md" role="button">Регистрация</a>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="{% block nav_class_index %}{% endblock %}"><a href="/">главная</a></li>
            <li class="{% block nav_class_news %}{% endblock %}"><a href="{% url 'news:new-list' %}">новости</a></li>
            <li class="dropdown {% block nav_class_courses %}{% endblock %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">курсы <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% for course in courses %}
                  <li><a href="{% url 'courses:course' course.id %}">{{ course.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li class="{% block nav_class_student_list %}{% endblock %}">{% block students_list %}<a href="{% url 'students:student-list' %}">студенты</a>{% endblock students_list %}</li>
            <li class="{% block nav_class_coaches %}{% endblock %}"><a href="{% url 'coaches:coach-list' %}">преподаватели</a></li>
            <li class="{% block nav_class_photos %}{% endblock %}"><a href="{% url 'photos:photo-list' %}">галерея</a></li>
            <li class="{% block nav_class_feedback %}{% endblock %}"><a href="{% url 'mails:send-mail' %}">обратная связь</a></li>
            <li class="{% block nav_class_contact %}{% endblock %}"><a href="{% url 'contacts_itbursa' %}">контакты</a></li>
          </ul>
        </div>
      </div>
    </nav>

{% block main_content %}

{% endblock main_content %}

    <!--Футер -->
    <div class = 'row'>
      <div class="panel-footer">
        <div class="col-sm-3 col-md-3">
            <small>2015 © Borovenskiy Nikolay</small>
        </div>
        <div class="col-sm-6 col-md-6">
            <p>ITBursa</p>
        </div>
        <div class="col-sm-3 col-md-3">
            <!--<a href="https://vk.com/wall-82364378_7"><i class="fa fa-vk fa-3x"></i></a>
            <a href="https://twitter.com/"><i class="fa fa-twitter-square fa-3x"></i></a>
            <a href="https://www.youtube.com/"><i class="fa fa-youtube-play fa-3x"></i></a>
            <a href="https://www.facebook.com/pages/ItBursa/1539330322946469"><i class="fa fa-facebook-square fa-3x"></i></a>-->
            <small>Kharkov Ukraine</small>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static "bootstrap/js/bootstrap.js"%}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static "JS/holder.js"%}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "JS/ie10-viewport-bug-workaround.js"%}"></script>
  </body>
</html>
