<!DOCTYPE html>

{% extends 'base.html' %}


{% block title %} PythonClasses | {{ coach.full_name }} | Личные данные |{% endblock %}


{% block content %}

  <div class="container">
    <div class="jumbotron">

        <table>
        <caption><h2>Личные данные:</h2></caption>
          <tbody>
            <tr>
              <td>
                дата рождения 
              </td>
              <td>
                {{ coach.date_of_birth|date:"d F Y" }}
              </td>
            </tr>
            <tr>
              <td>
                адрес
              </td>
              <td>
                {{ coach.address }}
              </td>
            </tr>
            <tr>
              <td>
                почта
              </td>
              <td>
                {{ coach.user.email }}
              </td>
            </tr>
            <tr>
              <td>
                логин skype
              </td>
              <td>
                {{ coach.skype }}
              </td>
            </tr>
            <tr>
              <td>
                телефон
              </td>
              <td>
                {{ coach.phone }}
              </td>
            </tr>
            <tr>
              <td>
                курсы учитель
              </td> 
              <td>
                {% for course in coach.courses_coach.all %}
                    <p><a href="{% url 'courses:courseinfo' course.id %}">{{course.title}}</a>
                    студенты курса<a href="{% url 'students:students_list' %}?course_id={{ course.id }}"class="external"></a></p>
                  {% empty %}
                  Нет курсов
                {% endfor %}
              </td>
            </tr>
            <tr>
              <td>
                курсы ассистент
              </td>
              <td>
                {% for course in coach.courses_assistant.all %}
                    <p><a href="{% url 'courses:courseinfo' course.id %}">{{ course.title }}</a>
                    студенты курса<a href="{% url 'students:students_list' %}?course_id={{ course.id }}"class="external"></a></p>
                  {% empty %}
                  Нет курсов
                {% endfor %}
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div><!-- /.container -->

{% endblock content %}