<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>DJ101/contacts</title>

    <!-- Bootstrap -->
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <ul class="nav nav-tabs">
	  <li role="presentation"role="presentation" class="active"><a href="contacts.html">Contacts</a></li>
	  <li role="presentation"><a href="index.html">Home</a></li>
   </ul>
	
<h1><center>Учителя</center></h1>

<p class="text"><i>Алексей Радченко</i></p>

<p class="text"> <img src="../static/bootstrap/img/radchenkoa.jpg" width="200" height="200" 
  alt="Иллюстрация" align="left" 
  vspace="5" hspace="5">Алексей в web-разработке с 2006 года, специализируется на python и django с 2007.<br />
Имеет трехлетний опыт преподавательской деятельности на кафедре “Компьютерного моделирования и информационных технологий” при ХНТУСА, опыт обучения и менторства начинающих web-разработчиков на реальных проектах, вел другие частные курсы.
<p class="text">Алексей работал python разработчиком в ряде компаний, реализовал более
10-ти проектов, принимал участие в разработке более 20-ти проектов. Участвовал как слушатель и докладчик во многих тематических конференциях, благодаря всему этому собрал набор “лучших практик”, которые применяются абсолютно всеми компаниями, использующими python.<br />
<p class="text">За последние 2-3 года участвовал в разработке SPA проектов, проектов, 
рассчитанных на большую нагрузку, проектов, имеющих сложную инфраструктуру и интеграции со множеством сторонних сервисов.</p>

<p class="text"><i>Оксана Слюсаренко</i></p>

<p class="text"> <p class="text"> <img src="../static/bootstrap/img/oxanas.jpg" width="200" height="250" 
  alt="Иллюстрация" align="left" 
  vspace="5" hspace="5">Веб-разработчик с четырехлетним опытом, имеет опыт преподавания, проведения семинаров и тренингов. Умеет сочетать глубокие профессиональные знания и подачу их в доступной и легкой форме. Любит работать с людьми и считает, что любой человек может научиться даже самым сложным вещам.</p>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/bootstrap/js/bootstrap.js"></script>
  </body>
</html>
