{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Контакты{% endblock %}


{% block nav_class_contact %}active{% endblock %}

{% block main %}
<!-- Contacts ================================================== -->

    <!-- coaches ================================================== -->

    <div class="jumbotron">
      <h1 class="text-center"><a href="{% url 'coaches:coaches' %}">Преподаватели</a></h1>
    </div>

    <div class="container marketing">
      <div class="row">
{% include 'includes/inc_instructor.html' with instructor=coaches.0 %}
{% include 'includes/inc_instructor.html' with instructor=coaches.1 %}
      </div><!-- /.row -->
    </div>

    <!-- organizers ================================================== -->

    <div class="jumbotron">
      <h1 class="text-center">Организаторы</h1>
    </div>

    <div class="container marketing">
      <div class="row">
{% include 'includes/inc_org.html' with block_img_name='/static/img/Anna.jpg' block_name="Анна Малахова" block_post="Менеджер ITbursa" block_email="anna.itbursa@gmail.com" block_skype="+380960705347" %}
{% include 'includes/inc_org.html' with block_img_name='/static/img/Pavel.jpg' block_name="Павел Обод" block_post="Основатель ITbursa" block_email="itbursa100@gmail.com" block_skype="+380637023703" %}
{% include 'includes/inc_org.html' with block_img_name='/static/img/Tanya.jpg' block_name="Татьяна Колесник" block_post="Оплата курсов" block_email="tatyana@outsource-people.com" block_skype="+380637294567" %}
      </div><!-- /.row -->
    </div>

<!-- Jumbotron ================================================== -->

    <div class="jumbotron">
    </div>
{% endblock main %}
