{% extends "base.HTML" %}

{% load static from staticfiles %}

{% block title %}IT Bursa - Контакты{% endblock title %}

<link href="{%static "contact.css"%}" rel="stylesheet">

{% block css_for_page %}
    <link href="{%static "contact.css"%}" rel="stylesheet">
{% endblock css_for_page %}

{% block main_content %}
  <!--Контакты Павла Обода-->
  <div class = 'row'>
    <h2>Контакты</h2>
      <div class="media">
        <div class="media-left media-middle">
          <div class="row placeholders">
            <div class="col-xs-12 col-sm-12 placeholder">
              <img src="{% static "IMG/photo_1.jpg"%}" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Павел Обод</h4>
              <span class="text-muted">основатель</span>
            </div>
          </div>
        </div>
        <div class="media-body">
            <div class = 'teacher1-text'>
              <p>  itbursa100@gmail.com </p>
              <p> skype: azaless </p>
              <p> +38 063 702 3 703 </p>
            </div>
        </div>
       </div>
  </div>

  <!--Контакты Татьяны Колесник-->
  <div class = 'row'>
    <div class="media">
      <div class="media-left media-middle">
        <div class="row placeholders">
          <div class="col-xs-12 col-sm-12 placeholder">
            <img src="{% static "IMG/photo_3.jpg"%}" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Татьяна Колесник</h4>
            <span class="text-muted">менеджер ITbursa</span>
          </div>
        </div>
      </div>
      <div class="media-body">
        <div class = 'teacher1-text'>
          <p> tatyana@outsource-people.com</p>
          <p> skype: princessataniakolesnik </p>
          <p> +38 063 729 45 67  </p>
          </div>
      </div>
    </div>
  </div>
     <!--Контакты Анны Малаховой-->
  <div class = 'row'>
    <div class="media">
      <div class="media-left media-middle">
        <div class="row placeholders">
          <div class="col-xs-12 col-sm-12 placeholder">
            <img src="{% static "IMG/photo_2.jpg"%}" class="img-responsive" alt="Generic placeholder thumbnail">

            <h4>Анна Малахова</h4>
            <span class="text-muted">менеджер ITbursa</span>
          </div>
        </div>
      </div>
      <div class="media-body">
        <div class = 'teacher1-text'>
          <p> anna.itbursa@gmail.com </p>
          <p> skype: anechka.malakhova </p>
          <p> +38 096 070 53 47 </p>
        </div>
      </div>
    </div>
  </div>
{% endblock main_content %}
