{% extends 'base.html' %}
{% load staticfiles %}


{% block title %} Контакты {% endblock title %}


{% block nav_class_contact %}active{% endblock %}


{% block content %}
  <div class="jumbotron">
    <h1>Контакты</h1>
  </div>
  {% include "inc_panel_primary.html" with block_title="Учитель" person=coach image_src='img/photo_assistant.jpg' %}
  <div class="panel panel-primary">
   <div class="panel-heading">
      <h3 class="panel-title">Преподаватель</h3>
   </div>
   <div class="panel-body">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="{% static 'img/radchenkoa.jpg' %}" alt="Алексей Радченко">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Алексей Радченко</h4>
         <p>skype: dixon.che</p>
        <p>Имеет трехлетний опыт преподавательской деятельности на кафедре “Компьютерного моделирования и информационных технологий” при ХНТУСА, опыт обучения и менторства начинающих web-разработчиков на реальных проектах, вел другие частные курсы.</p>
      </div>
    </div>

   </div>
  </div>
  <br />

  <div class="panel panel-primary">
  <div class="panel-heading">
     <h3 class="panel-title">Ассистент</h3>
   </div>
   <div class="panel-body">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="{% static 'img/photo_assistant.jpg' %}" alt="Оксана Слюсаренко">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Оксана Слюсаренко</h4>
         <p>skype: oksana.slu</p>
        <p>Веб-разработчик с четырехлетним опытом, имеет опыт преподавания, проведения семинаров и тренингов.</p>
      </div>
  </div>
  </div>
  </div>
  <br />

  <div class="panel panel-primary">
  <div class="panel-heading">
     <h3 class="panel-title">Менеджер</h3>
   </div>
   <div class="panel-body">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="{% static 'img/photo_2.jpg' %}" alt="Анна Малахова">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Анна Малахова</h4>
         <p>skype: anechka.malakhova</p>
         <p>e-mail: anna.itbursa@gmail.com</p>
      </div>
  </div>
   </div>
  </div>
  <br />


  <div class="panel panel-primary">
  <div class="panel-heading">
     <h3 class="panel-title">Основатель</h3>
   </div>
   <div class="panel-body">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="{% static 'img/photo_1.jpg' %}" alt="Павел Обод">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Павел Обод</h4>
         <p>e-mail: itbursa100@gmail.com</p>
         <p>skype: azaless</p>
      </div>
  </div>
   </div>
    </div>
   <br />

<div class="panel panel-primary">
  <div class="panel-heading">
     <h3 class="panel-title">Менеджер</h3>
   </div>
   <div class="panel-body">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="{% static 'img/photo_3.jpg' %}" alt="Татьяна Колесник">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Татьяна Колесник</h4>
         <p>e-mail: tatyana@outsource-people.com</p>
         <p>skype: princessataniakolesnik</p>
        <p>Менеджер по оплате курсов.</p>
      </div>
  </div>
   </div>
    </div>
   <br />

{% endblock content %}