{% extends "base.html" %}

{% block title %} PyBursa - Контакты {% endblock title %}

{% block nav_class_contacts %}active{% endblock %}

{% load staticfiles %}

{% block content %}
  <br><br>
  <div class="container">
   <h4>Связаться с нами:</h4>
  </div>
<div class="container">
  <a href="http://edx.ddev.com.ua/">Сайт</a>
    <ul type="square">
      <li>главный босс тел: e-mail</li>
      <li>главный гнобитель тел: email</li>
      <li>ассистент главного </li>
    </ul>
</div>
{% endblock content %}

