<!DOCTYPE html>

{% extends 'base.html' %}


{% block title %} PythonClasses | {{ courses.title }} | Про курс |{% endblock %}


{% block content %}

<div class="container">
  <div class="jumbotron">
    <h1>{{ course.title }}</h1>
    <p class="text">
      {{ course.more_info }}    
    </p>

    <h2>Преподаватели:</h2>

{% include "inc_coach_name_about.html" with block_title="Учитель" position=course.coach %}
{% include "inc_coach_name_about.html" with block_title="Ассистент" position=course.assistant %}


  <table>
    <caption><h2>План курса:</h2></caption>
    <tbody>
      <tr>
        <th>
         #  
        </th>
        <th>
          Тема 
        </th>
        <th>
          Описание
        </th>
      </tr>
      {% for lesson in lessons%}
      <tr>
        <td>
          {{ forloop.counter }}
        </td>
        <td class="wide">
          {{ lesson.theme }}
        </td>
        <td class="just">
          {{ lesson.about }}
        </td>
      </tr>
      {% endfor %}   
    </tbody>
  </table>
  </div>
</div><!-- /.container -->


{% endblock content %}