{% extends "base.html" %}

{% block title %} PyBursa - Добавить {% endblock title %}



{% block content %}
  <br><br>
  <div class="container">
      <h3> {{ shead }} (  {{ object.course_name }} ) ?</h3>
  </div>
    <div  class="container">
        <form  method="post">
        {% csrf_token%}

          <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ prompt }}</button>
            <button type="button" class="btn"><a href="{% url 'pybursa_app:index' %}">Отмена</a></button>
          </div>
        </form>

    </div>


{% endblock content %}
