{% extends "base.html" %}

{% block title %} PyBursa - {{ course.course_name }} {% endblock title %}

{% block content %}


  <br><br>
  <div class="container">
      <h3>На курсе преподают: </h3>
      <p>Тренер: <b><a href="{% url 'coach' course.course_coach.id %}">
      {{ course.course_coach.coach_user.get_full_name }}
      </a></b> - {{ course.course_coach.coach_description }}</p>
      <p>Ассистент: <b><a href="{% url 'coach' course.course_assistent.id %}">
      {{ course.course_assistent.coach_user.get_full_name }}
      </a></b> - {{ course.course_assistent.coach_description }}</p>
  </div>
  <div class="container">
      <h3>Содержание курса: <b>{{ course.course_name }}</b></h3>
  </div>
  {% if lesson_list %}
    <div class="container">
    <table id="main-table" class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>№ </th>
        <th>Тема</th>
        <th>Реферат</th>
      </tr>
    </thead>
    <tbody>
      {% for lesson in lesson_list %}
        <tr>
          <td>{{ lesson.lesson_number }}</td>
          <td>{{ lesson.lesson_theme }}</td>
          <td>{{ lesson.lesson_description|truncatewords:"60" }}</td>
        </tr>
      {% endfor %}
    </tbody>
   </table>

  {% else %}
    <p>Ничего нет по Вашему запросу.</p>
  {% endif %}
  </div>
{% endblock content %}
