<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
					<div class="list-group">
						<a href="http://pybursa.com/#ninth_block" class="list-group-item active" target="_blank">О Python (оригинальный сайт)</a>
						<a href="http://pybursa.com/#fifteenth_block" class="list-group-item" target="_blank">Организация</a>
						<a href="http://pybursa.com/#sixteenth_block" class="list-group-item" target="_blank">Программа</a>
						<a href="http://pybursa.com/#below_seventeenth_block" class="list-group-item" target="_blank">Цена</a>
						<a href="http://pybursa.com/#twenty_fourth_block" class="list-group-item" target="_blank">Тренеры</a>

					</div>
</div><!--/.sidebar-offcanvas-->