<div class="col-sm-5">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">{{ name }}</h2>
    </div>
    <div class="panel-body">
      <img id="photo" src="{{ image_path }}" alt="">
      <div class="floatright">              
        <h4>{{ rank }}</h4>
        <p class="organizers_mail">
                {{ email }}
        </p>
        <p class="organizers_skype">
            <span>
                skype:
            </span>
            <a href="skype:azaless">
                {{ skype }}
            </a>
        </p>
        <p class="organizers_phone">
            {{ phone }}
        </p>
      </div>          
    </div>
  </div>
</div><!-- /.col-sm-4 -->