  {% load static from staticfiles %}

    <div class="media">
      <div class="media-left media-middle">
        <div class="row placeholders">
          <div class="col-xs-12 col-sm-12 placeholder">
            <img src="/static/IMG/{{ instructor.user }}.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4><a href="{% url 'coaches:coach-detail' instructor.id %}">{{ instructor.full_name|upper }}</a></h4>
            <span class="text-muted">{{ block_title }}</span>
          </div>
        </div>
      </div>
      <div class="media-body">
        <div class = 'teacher1-text'>
          <p>{{ instructor.discription }}</p>
        </div>
      </div>
    </div>
