<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/favicon.ico">

    <title>Main Page</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="contact.html">Contact</a></li>
            <li role="presentation"><a href="student_list.html">Students</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Python courses</h3>
      </div>

      <div class="jumbotron">
        <h1>Learn Python</h1>
        <p class="lead">
        Learn to program in Python, a powerful language used by sites like YouTube and Dropbox.
      </p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Python Syntax</h4>
          <p>This tutorial will introduce you to Python, a general-purpose, object-oriented interpreted language you can use for countless standalone projects or scripting applications.</p>

          <h4>Strings & Console Output</h4>
          <p>This part will introduce you to strings and console output in Python, including creating string literals, calling a variety of string methods, and using the "print" keyword.</p>

          <h4>Conditionals & Control Flow</h4>
          <p>In this part, we'll learn how to create programs that generate different outcomes based on user input!</p>
        </div>

        <div class="col-lg-6">
          <h4>Functions</h4>
          <p>A function is a reusable section of code written to perform a specific task in a program. We gave you a taste of functions in Unit 3; here, you'll learn how to create your own.</p>

          <h4>Python Lists and Dictionaries</h4>
          <p>Lists and dictionaries are powerful tools you can use to store, organize, and manipulate all kinds of information.</p>

          <h4>Lists and Functions</h4>
          <p>Now that you've learned about lists, let's turbo-charge them with functions.</p>
        </div>
      </div>

      <footer class="footer">
        <p>© Test Company 2015</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/ie10-viewport-bug-workaround.js"></script>
  

</body></html>