<!DOCTYPE html>

{% extends 'base.html' %}


{% block title %} PythonClasses | Главная |{% endblock %}


{% block nav_class_main %} active {% endblock %}


{% block content %}
  <div class="container">
    <div class = jumbotron>
      <h1>PythonClasses</h1>
      <p class="text">
        Преимуществом наших курсов над остальными является индивидуальный подход к каждому студенту и 
        онлайн консультирование в skype
      </p>
    </div>
    <table>
    <caption><h2>Выбери курсы, которые хочешь освоить:</h2></caption>
      <tbody>
        <tr>
          <th>
            Курс
          </th>
          <th>
            Описание
          </th>
        </tr>
        {% for course in courses %}
        <tr>
          <td><a href="{% url 'courses:courseinfo' forloop.counter %}">{{ course.title|upper }}</a>
          </td>
          <td>
            {{ course.about }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div><!-- /.container -->
{% endblock %}
