{% extends "base.HTML" %}

{% load static from staticfiles %}

{% block title %}IT Bursa - Главная{% endblock title %}


{% block nav_class_index %}active{% endblock %}


{% block main_content %}

{% include "inc_main_slider.HTML"%}
    <!--Все курсы -->
    <div class="row">
      {% for course in courses %}
        <div class="col-sm-4 col-md-4" >
          <div class="thumbnail" id = 'python'>
            <a href="{% url 'courses:courses' course.id %}">
              <img src = "/static/IMG/Course_{{course.id}}.jpg" alt="...">
              <div class="caption">
                <h3>{{ course.info }}</h3></a>
                <br>
                  <p>{{ course.discription|truncatechars:350 }}</p>
                  <p><a href="http://pybursa.com/" class="btn btn-success btn-lg btn-block" role="button">ЗАПИСАТЬСЯ</a> </p>
              </div>
            </div>
        </div>
      {% empty %}
        нет активных курсов
      {% endfor %}
    </div>
{% endblock main_content %}
