{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>DJ101 - Главная</title>

    <!-- Bootstrap -->
    <!-- link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'pybursa.views.dj101_index' %}">DJ101</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'pybursa.views.dj101_index' %}">Главная<span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'pybursa.views.dj101_contact' %}">Контакты</a></li>
            <li> <a href="{% url 'pybursa.views.dj101_student_list' %}">Студенты</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <div class="jumbotron">
        <h3>Наши курсы научат вас :</h3>
        <br>
        <p>следовать zen-python, писать правильный python-код согласно лучшим принципам</p>
        <p>разрабатывать серверный бекенд веб-приложений на современном языке</p>
        <p>реализовывать и разворачивать полноценный веб-проект на python/django</p>
      </div>
    </div>
    <br><br>
    <div class="container">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <align="center">
        <div class="panel-heading" align="center"><h3>Программа</h3></div>


        <!-- Table -->

        <table class="table">

          <tr>
          <th> <div align="center"><h5>ЗАНЯТИЕ</h5></div></th>
          <th> <div align="center"><h5>ТЕМА</h5></div></th>
          <th> <div align="center"><h5>СОДЕРЖАНИЕ</h5></div></th>
         </tr>
         <tr><td align="center" style="vertical-align:middle">1</td><td align="center" style="vertical-align:middle">Основы Python</td><td>
           <p>zen, pep8, pylint, tools, IDE</p>
           <p>консоль, типы данных, операторы</p>
           <p>синтаксис управляющих конструкций (if, for...)</p>
           <p>исключения и разбор стектрейса</p>
         </td></tr>
         <tr><td align="center" style="vertical-align:middle">2</td><td align="center" style="vertical-align:middle">Строки и итераторы</td><td>
           <p>работа со строками и итерируемыми типами</p>
           <p>запуск скрипта и параметры</p>
           <p>git http://try.github.com/levels/1/challenges/1</p>
         </td></tr>
        </table>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
