{% load staticfiles %}

<p><h4>ОБ ЭТОМ КУРСЕ</h4>
	<br>
	Данный курс дает базовые знания по языку python. Синтаксис, подходы, философия, инструменты и экосистема. Покрывает основной синтаксис и инструкции языка, некоторые встроенные модули, основы ОПП.<br>
	<br>
	И так далее, и тому подобное.<br>
	<br>
	<h4>НЕОБХОДИМЫЕ ЗНАНИЯ</h4><br>
	<br>
	Для успешного прохождения курса необходимы базовые знания по любому языку программирования на уровне основных понятий и блок-схем. Если вы знаете что такое переменная и каких типов переменные бывают, слышали о том что такое условный оператор, то этот курс для вас.<br>
	<br>
	Если вы программист на другом языке программирования, то этот курс будет полезен для освоения основ языка. Просто вам будет освоить материал курса гораздо проще. С другой стороны в видео затрагиваются определенные нюансы, которые будут полезны именно опытным разработчикам на других технологиях.<br>
	<br>
	<h4>ИНСТРУКТОРЫ</h4>
	<br>
	<img src="{% static 'pictures/inst.jpg' %}" style="float:left; max-width:99px;">
	<span class="floatleft">Алексей Радченко aka dixon.che<br>
	<br>
	Алексей в web-разработке с 2006 года, специализируется на python и django с 2007. Имеет трехлетний опыт преподавательской деятельности на кафедре “Компьютерного моделирования и информационных технологий” при ХНТУСА, опыт обучения и менторства начинающих web-разработчиков на реальных проектах, вел другие частные курсы.<br>
	<br>
	Алексей работал python разработчиком в ряде компаний, реализовал более 10-ти проектов, принимал участие в разработке более 20-ти проектов. Участвовал как слушатель и докладчик во многих тематических конференциях, благодаря всему этому собрал набор “лучших практик”, которые применяются абсолютно всеми компаниями, использующими python.<br>
	<br></span>
	<br>
</p>