{% extends "base.html" %}

{% block title %}Преподаватели{% endblock title %}


{% block nav_class_student %}{% endblock %}


{% block nav_class_index %}{% endblock %}


{% block content %}

   <div style = "font-size: 16px; text-align : justify">

        <h2>Web разработка на Python/Django</h2>
        <p >Программа курсов предназначена как для тех, кто осваивает первую IT-специальность, так и для тех, кто хочет освоить новый язык программирования. Но первой группе придется серьезно попотеть и недосыпать два месяца курсов.</p>

 
               	
    <pre> 
    <h2 style ="text-align : center">Преподаватели<h2>
    <table class='courses_list'>
        <tr>
        <th>№</th>
        <th>Ф.И.О</th>
        <th>Телефон</th>
        </tr>
    {% for coach in coaches %}
        <tr>
        <td>{{forloop.counter}}</td>
        <td>{{coach.user}}</td>
        <td>{{coach.phone}}</td>
        </tr>
    {% endfor %}
    </table>
   <form action={% url "add_lesson" %}>
<button type="submit" class="btn btn-default" >
Добавить занятие
</button>
</form>
    <table class='courses_list'>
        <tr>
        <th>№</th>
        <th>Тема</th>
        <th>Описание</th>
        </tr>
    {% for lesson in lessons %}
        <tr>
        <td>{{forloop.counter}}</td>
        <td>{{lesson.theme}}</td>
        <td>{{lesson.desription}}</td>
        </tr>
    {% endfor %}
    </table>     
    </pre>
   </div>
            }
{% endblock content %}
       
   
