<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Решение квадратного уравнения</title>


    {% load staticfiles %}

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Our style -->
    <link href="{% static 'css/ourstyle.css' %}" rel="stylesheet">

    <!-- Вставка HTML5 поєднується з Respond.js для підтримки в IE8 елементів HTML5 та медіа-запитів -->
    <!-- ЗАСТЕРЕЖЕННЯ: файл Respond.js не працює, якщо ви проглядаєте сторінку відкривши її з файлової системи -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="b1">

      <div class="container">
        <h3>Решение квадратного уравнения вида: а*х*х + b*x + c = 0</h3>
      </div>
  </div>
  <br><br>
  <div  class="container">

      <h4>{{ titl }}</h4>
      <ul type="square">
        <li>{{ str_a }}</li>
        <li>{{ str_b }}</li>
        <li>{{ str_c }}</li>
      </ul>
      <h4>{{ str_D }}</h4>
      <h4>{{ str_x }}</h4>

  </div>


    <!-- jQuery (потрібно для JavaScript плагінів Bootstrap) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Підключення мінімізованої збірки всіх плагінів jQuery. Можна підключати додаткові плагіни, якщо потрібно -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
