<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Pybursa. Студенты</title>
	<link rel="icon" href="{% static 'pictures/favicon.ico' %}" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
		<div  class="navbar-header">
			<a class="logo" href="{% url 'main' %}"><img src="{% static 'pictures/logobl.jpg' %}" height="42" width="42"></a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li><a href="{% url 'main' %}">Описание</a></li>
				<li><a href="{% url 'contact' %}">Контакты</a></li> 
				<li class="active"><a href="{% url 'student_list' %}">Студенты</a></li> 
			</ul>
		</div>
		</div></nav>
		<br>
		<br>
		<br>
		<div id="container">
			<h1>Список студентов</h1>
			<div class="row">
				<div class="panel panel-primary filterable">
					<div class="panel-heading">
						<h3 class="panel-title">Список слушателей</h3>
						<div class="pull-right">
							<button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Скрыть фильтр</button>
						</div>
					</div>
					<table class="table">
						<thead>
							<tr class="filters">
								<th><input type="text" class="form-control" placeholder="#"></th>
								<th><input type="text" class="form-control" placeholder="Фамилия"></th>
								<th><input type="text" class="form-control" placeholder="Имя"></th>
								<th><input type="text" class="form-control" placeholder="Адрес"></th>
								<th><input type="text" class="form-control" placeholder="Skype:"></th>
							</tr>
						</thead>
						<tbody>
							<tr style="display: table-row;">
								<td><a href="{% url 'student_detail' %}#1">1</a></td>
								<td><a href="{% url 'student_detail' %}#1">Иванов</a></td>
								<td><a href="{% url 'student_detail' %}#1">Андрей</a></td>
								<td>Харьков ул. Солнечная д.10</td>
								<td>aivanov</td>
							</tr>
							<tr style="display: table-row;">
								<td><a href="{% url 'student_detail' %}#2">2</a></td>
								<td><a href="{% url 'student_detail' %}#2">Петров</a></td>
								<td><a href="{% url 'student_detail' %}#2">Сергей</a></td>
								<td>Харьков ул. Изобильная д. 23</td>
								<td>spetrov</td>
							</tr>
							<tr style="display: table-row;">
								<td><a href="{% url 'student_detail' %}#3">3</a></td>
								<td><a href="{% url 'student_detail' %}#3">Cидоров</a></td>
								<td><a href="{% url 'student_detail' %}#3">Константин</a></td>
								<td>Чугуев ул. Оборонная д. 9</td>
								<td>darkknight</td>
							</tr>
							<tr style="display: table-row;">
								<td><a href="{% url 'student_detail' %}#4">4</a></td>
								<td><a href="{% url 'student_detail' %}#4">Горшков</a></td>
								<td><a href="{% url 'student_detail' %}#4">Николай</a></td>
								<td>Люботин ул. Победы д. 2</td>
								<td>gorshok</td>
							</tr>
							<tr style="display: table-row;">
								<td><a href="{% url 'student_detail' %}#5">5</a></td>
								<td><a href="{% url 'student_detail' %}#5">Тупиков</a></td>
								<td><a href="{% url 'student_detail' %}#5">Андрей</a></td>
								<td>Харьков ул. Шариковая д. 44 кв. 45</td>
								<td>tupik</td>
							</tr>
							<tr style="display: table-row;">
								<td><a href="{% url 'student_detail' %}#6">6</a></td>
								<td><a href="{% url 'student_detail' %}#6">Дмитриев</a></td>
								<td><a href="{% url 'student_detail' %}#6">Александр</a></td>
								<td>Харьков ул. Тепловозная д. 5 кв. 7</td>
								<td>dmitriev</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static 'js/bootstrap.js' %}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$('.filterable .btn-filter').click(function(){
					var $panel = $(this).parents('.filterable'),
					$filters = $panel.find('.filters input'),
					$tbody = $panel.find('.table tbody');
					if ($filters.prop('disabled') == true) {
						$filters.prop('disabled', false);
						$filters.first().focus();
					} else {
						$filters.val('').prop('disabled', true);
						$tbody.find('.no-result').remove();
						$tbody.find('tr').show();
					}
				});
				$('.filterable .filters input').keyup(function(e){
					/* Ignore tab key */
					var code = e.keyCode || e.which;
					if (code == '9') return;
					/* Useful DOM data and selectors */
					var $input = $(this),
					inputContent = $input.val().toLowerCase(),
					$panel = $input.parents('.filterable'),
					column = $panel.find('.filters th').index($input.parents('th')),
					$table = $panel.find('.table'),
					$rows = $table.find('tbody tr');
					/* Dirtiest filter function ever ;) */
					var $filteredRows = $rows.filter(function(){
						var value = $(this).find('td').eq(column).text().toLowerCase();
						return value.indexOf(inputContent) === -1;
					});
					/* Clean previous no-result if exist */
					$table.find('tbody .no-result').remove();
					/* Show all rows, hide filtered ones (never do that outside of a demo ! xD) */
					$rows.show();
					$filteredRows.hide();
					/* Prepend no-result row if all rows are filtered */
					if ($filteredRows.length === $rows.length) {
						$table.find('tbody').prepend($('<tr class="no-result text-center"><td colspan="'+ $table.find('.filters th').length +'">No result found</td></tr>'));
					}
				});
			});
		</script>
		<nav class="navbar navbar-inverse navbar-fixed-bottom">
			<p class="colortext">© Pybursa. A.Sviridov</p>
		</nav>
	</body>
</html>