{% extends "base.html" %}

{% block title %} PyBursa - Студенты {% endblock title %}

{% block nav_class_student_list %}active {% endblock %}

{% block content %}
    <div class="container">

     {% if text %}
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">X</button>
        <p> {{ text }} </p>
      </div>
      {% endif %}
      <h4>Гранит науки сейчас грызут:</h4>
    </div>
    {% if student_list %}

      <div class="container text-right">

       <p><a href="/student_add/">
       <button class="btn btn-small btn-primary" type="button">Добавить</button></a></p>
     </div>
      <div class="container">
        <table id="main-table" class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>№ п/п</th>
              <th>Фамилия имя</th>
              <th>Адрес</th>
              <th>Skype login</th>
              <th>Курс</th>
              <th> </th>
           </tr>
          </thead>

          <tbody>
          {% for student in student_list %}
            <tr>
              <td>{{ page_p.start_index|add:forloop.counter0 }}</td>
              <td > <a href="/student_detail/{{ student.id }}">{{ student.student_last_name }} {{ student.student_name }}</a></td>
              <td>{{ student.student_addr }}</td>
              <td>{{ student.student_skype }}</td>
              <td>
                {% for c in student.student_course.all %} <a href="{% url 'pybursa_app:course' c.id %}" >{{ c.course_name }}</a> <br>{% endfor %} </td>
              <td>
              <a href="{% url 'pybursa_app:student_mod' student.id %}"<button class="btn btn-mini btn-primary" type="button">Изменить</button></a>
                  <a href="{% url 'pybursa_app:student_rem' student.id %}"<button class="btn btn-mini btn-primary" type="button"> Удалить</button></a>
              </td>
            </tr>



           {% endfor %}

           </tbody>
         </table>

  <div class="row">
  <div class="blok-f">
    <div class="large-3 large-offset-5 columns">
      <ul class="pagination">
      {% if page_p.has_previous %}
        <li class="arrow"><a href="{% url 'pybursa_app:student_page' page_p.previous_page_number %}">&laquo;</a></li>
      {% else %}
        <li class="arrow unavailable"><a href="">&laquo;</a></li>
      {% endif %}
      {% for page in  page_p.paginator.page_range %}

        {% if page == page_p.number %}
           <li class="active"><a href="{% url 'pybursa_app:student_page' page %}">{{ page }}</a></li>
        {% else %}
          <li><a href="{% url 'pybursa_app:student_page' page %}">{{ page }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_p.has_next %}
      <li class="arrow"><a href="{% url 'pybursa_app:student_page' page_p.next_page_number %}">&raquo;</a></li>
      {% else %}
        <li class="arrow unavailable"><a href="">&raquo;</a></li>
      {% endif %}
    </ul>
  </div>

</div>

</div>
       {% else %}
         <p>Ничего нет по Вашему запросу.</p>
       {% endif %}
  </div>

{% endblock content %}

