<!DOCTYPE html>

{% extends 'base.html' %}


{% block title %} PythonClasses | {{ student.surname }} {{ student.name }} | Личные данные |{% endblock %}


{% block content %}

  <div class="container">
    <div class="jumbotron">
      <h1>{{ student.surname }} {{ student.name }}</h1>
        <table>
        <caption><h2>Личные данные:</h2></caption>
          <tbody>
            <tr>
              <td>
                дата рождения
              </td>
              <td>
                {{ student.date_of_birth|date:"d F Y" }}
              </td>
            </tr>
            <tr>
              <td>
                адрес
              </td>
              <td>
                {{ student.address }}
              </td>
            </tr>
            <tr>
              <td>
                почта
              </td>
              <td>
                {{ student.email }}
              </td>
            </tr>
            <tr>
              <td>
                логин skype
              </td>
              <td>
                {{ student.skype }}
              </td>
            </tr>
            <tr>
              <td>
                телефон
              </td>
              <td>
                {{ student.phone }}
              </td>
            </tr>
            <tr>
              <td>
                курсы
              </td>
              <td>
                {% for course in courses %}
                <a href="{% url 'courses:courseinfo' course.id %}">{{course.title}}</a><br>
                {% endfor %}
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div><!-- /.container -->

{% endblock content %}