{% extends "base.html" %}

{% block title %}Студенты{% endblock title %}


{% block nav_class_student %}active{% endblock %}


{% block content %}
  <pre>                          
    <table class='courses_list'>
        <tr>
        <th>№</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Адресс</th>
        <th>Skype</th>
        <th>Курсы</th>
        </tr>
    {% for student in students %}
        <tr>
        <td>{{forloop.counter}}</td>
        <td>{{student.surname}}</td>
        <td>{{student.name}}</td>        
        <td>{{student.address}}</td>
        <td>{{student.skype}}</td>
        
        </tr>
    {% endfor %}
    </table>     
  </pre> 
</div>
{% endblock content %}

    
