<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Student_Info</title>

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

  </head>
  <body>

    <div class="container"  style="background-color: #FEFFC4">
      <div class="header clearfix">
        <h2 class="text-muted">Инфо о учаснике курса</h2>
      </div>
    </div>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="index.html">Home</a></li>
            <li role="presentation"><a href="contact.html">Contact</a></li>
			       <li role="presentation"><a href="students.html">Students</a></li>
          </ul>
        </nav>
        <h2 class="text-muted">Python/Django</h2>
        <h2 class="text-muted"></h2>
      </div>
    </div>
  
    <div class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 >Личная информация о студенте</h2>
        </div>

        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="../static/img/paha.JPG">
          </a>
          <div class="media-body">
            <h2 class="media-heading">Жлобинский Павел Викторович</h2>
            <p>date:<span style="padding-left:10px;color:#5495d1"> 04.05.1980</span></p>
            <p>email:<span style="padding-left:10px;color:#5495d1"> paha_tet@mail.ru</span></p>
            <p>skype:  <span style="padding-left:10px;color:#5495d1">paha_tet</span></p>
            <p>phone: <span style="padding-left:10px;color:#5495d1">+38 066 766 40 51</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2>Сведения об успеваемости</h2>
        </div>
        <h2></h2>
        <div class="row">
          <div class="col-md-9">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th colspan="2">тесты</th>
                  <th colspan="2">задания</th>
                  <th rowspan="2">средний балл</th>
                  <th rowspan="2">рейтинг</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>курс</td>
                  <td>состояние</td>
                  <td>курс</td>
                  <td>состояние</td>
                  <td></td>
                </tr>
                <tr>
                  <td>PY101</td>
                  <td>100%</td>
                  <td>PY101</td>
                  <td>100%</td>
                  <td rowspan="2">9</td>
                  <td rowspan="2">11</td>
                </tr>
                <tr>
                  <td>DJ101</td>
                  <td>25%</td>
                  <td>DJ101</td>
                  <td>75%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


  </body>
</html>
