{% extends "base.html" %}

{% block title %} PyBursa - Студенты {% endblock title %}

{% block nav_class_student_list %}active {% endblock %}

{% block content %}
    <div class="container">
     <h4>Гранит науки сейчас грызут:</h4>
    </div>
    {% if student_list %}
      <div class="container">
        <table id="main-table" class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>№ п/п</th>
              <th>Фамилия имя</th>
              <th>Адрес</th>
              <th>Skype login</th>
              <th>Курс</th>
           </tr>
          </thead>

          <tbody>
          {% for student in student_list %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td > <a href="/student_detail/{{ student.id }}">{{ student.student_last_name }} {{ student.student_name }}</a></td>
              <td>{{ student.student_addr }}</td>
              <td>{{ student.student_skype }}</td>
              <td>{% for course in student.student_course.all %} <a href="{% url 'course' course.id %}">{{ course.course_name }}</a> <br>{% endfor %} </td>
             </tr>
           {% endfor %}
           </tbody>
         </table>
       {% else %}
         <p>Ничего нет по Вашему запросу.</p>
       {% endif %}
  </div>

{% endblock content %}

