<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Список студентов курса Python</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
    <script src="../static/js/ie-emulation-modes-warning.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="index.html">Главная</a></li>
            <li role="presentation"><a href="contact.html">Контакты</a></li>
            <li role="presentation" class="active"><a href="student_list.html">Наши студенты</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">PY Bursa</h3>
      </div>
      <div class="row marketing">
        <div >
         <h2>Список студентов</h2>
			<div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Адрес</th>
            <th>Логин skype</th>
            <th>Ссылка</th>
          </tr>
        </thead>
        <tbody>
          <tr data-href="http://google.com">
            <th scope="row">1</th>
            <td>Иванов</td>
            <td>Валерий</td>
            <td>Харьков, пр. Ленина 14</td>
            <td>ivan_valera</td>
            <td><a href="student_detail.html" target="_blank">детали >>></a></td>
          <tr>
            <th scope="row">2</th>
            <td>Пупкин</td>
            <td>Василий</td>
            <td>Харьков, ул. Целиноградская 58</td>
            <td>pupkin_vasya</td>
            <td><a href="student_detail.html" target="_blank">детали >>></a></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Анонимный</td>
            <td>Виталий</td>
            <td>Харьков, ул. Бакулина 2</td>
            <td>anonim_kharkov</td>
            <td><a href="student_detail.html" target="_blank">детали >>></a></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Черненко</td>
            <td>Сергей</td>
            <td>Киев, ул. Коперника 12</td>
            <td>sergei.4e</td>
            <td><a href="student_detail.html" target="_blank">детали >>></a></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Пирожков</td>
            <td>Артур</td>
            <td>Москва, ул. Тусовочная 1</td>
            <td>sexy_boy</td>
            <td><a href="student_detail.html" target="_blank">детали >>></a></td>
          </tr>
        </tbody>
      </table>
    </div>
        </div>
      </div>
      <footer class="footer">
        <p>&copy; Pybursa 2015</p>
      </footer>
    </div> 
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
