<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Students</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

  </head>
  <body>

    <div class="container"  style="background-color: #FEFFC4">
      <div class="header clearfix">
        <h2 class="text-muted">Участники курса</h2>
      </div>
    </div>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href={% url 'index' %}>Home</a></li>
            <li role="presentation"><a href={% url 'contact' %}>Contact</a></li>
			<li role="presentation" class="active"><a href={% url 'student_list' %}>Students</a></li>
          </ul>
        </nav>
        <h2 class="text-muted">Python/Django</h2>
		<h2 class="text-muted"></h2>
      </div>
    </div>
	
    <div class="container">
		<div class="col-sm-4">
		  <div class="list-group">
			<a href={% url 'student_detail' %} class="list-group-item">
			  <h4 class="list-group-item-heading">Жлобинский Павел</h4>
			  <p class="list-group-item-text"> 
				<p>email:<span style="padding-left:10px;color:#5495d1"> paha_tet@mail.ru</span></p>
				<p>skype:  <span style="padding-left:10px;color:#5495d1">paha_tet</span></p>
				<p>phone: <span style="padding-left:10px;color:#5495d1">+38 066 766 40 51</span></p>
 			</a>
		  </div>
		</div>
			<div class="col-sm-4">
		  <div class="list-group">
			<a href="#" class="list-group-item">
			  <h4 class="list-group-item-heading">Ищенко Олег</h4>
				<p>email:<span style="padding-left:10px;color:#5495d1">xxx@xxx.xxx</span></p>
				<p>skype:  <span style="padding-left:10px;color:#5495d1">oleg_ishchenko</span></p>
				<p>phone: <span style="padding-left:10px;color:#5495d1">+38 0xx xxx xx xx</span></p>
			</a>
			 </div>
			  </div>
			<div class="col-sm-4">
		  <div class="list-group">
			<a href="#" class="list-group-item">
			  <h4 class="list-group-item-heading">Шульга Марина</h4>
				<p>email:<span style="padding-left:10px;color:#5495d1">xxx@xxx.xxx</span></p>
				<p>skype:  <span style="padding-left:10px;color:#5495d1">donner wetter</span></p>
				<p>phone: <span style="padding-left:10px;color:#5495d1">+38 0xx xxx xx xx</span></p>
			</a>
		  </div>
		</div><!-- /.col-sm-4 -->
    </div>
	
	<div class="container">
		<div class="col-sm-4">
		  <div class="list-group">
			<a href="#" class="list-group-item">
			  <h4 class="list-group-item-heading">Персианова Олена</h4>
			  <p class="list-group-item-text"> 
				<p>email:<span style="padding-left:10px;color:#5495d1">xxx@xxx.xxx</span></p>
				<p>skype:  <span style="padding-left:10px;color:#5495d1">olena.persianova</span></p>
				<p>phone: <span style="padding-left:10px;color:#5495d1">+38 0xx xxx xx xx</span></p>
 			</a>
		  </div>
		</div>
			<div class="col-sm-4">
		  <div class="list-group">
			<a href="#" class="list-group-item">
			  <h4 class="list-group-item-heading">Жуванов Ярослав</h4>
				<p>email:<span style="padding-left:10px;color:#5495d1">xxx@xxx.xxx</span></p>
				<p>skype:  <span style="padding-left:10px;color:#5495d1">pyromanser</span></p>
				<p>phone: <span style="padding-left:10px;color:#5495d1">+38 0xx xxx xx xx</span></p>
			</a>
			 </div>
			  </div>

    <div>
  </body>
</html>
