<!DOCTYPE html>

{% extends 'base.html' %}


{% block title %} PythonClasses | Список студентов |{% endblock %}


{% block nav_class_student %} active {% endblock %}


{% block content %}

  <div class="container">
    <div class="jumbotron">

    <table>
      <caption><h2>Список студентов:</h2></caption
      <tbody>
        <tr>
          <th>
              #
          </th>
          <th>
              Фамилия Имя
          </th>
          <th>
              Адрес
          </th>
          <th>
              Skype
          </th>
          <th>
              Курсы
          </th>
        </tr>
        {% for student in students %}
        <tr>
          <td> 
              {{ forloop.counter }}
          </td>
          <td>
              <a href="{% url 'students:student_detail' student.id %}">{{student.surname}} {{student.name|truncatechars:4}}</a>
          </td>
          <td class="address">
              {{ student.address }}
          </td>
          <td>
              {{ student.skype|default:"---------" }}
          </td>
          <td>
            {% for course in student.courses.all %}
              <p>
              <a href="{% url 'courses:courseinfo' course.id %}">{{course.title}}</a>
              </p>
            {% endfor %}
          </td>
        </tr>
        {% endfor%}
      </tbody>
    </table>

    </div>
  </div><!-- /.container -->

{% endblock content %}