<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>PyBursa Student detail</title>

    <!-- Bootstrap -->
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="masthead">
         <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                  <img alt="Brand" src="../static/bootstrap/images/python_study_ic.png" style = "width: 30px; height:30px">
                </a>
              </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="index.html">Главная</a></li>
                <li><a href="contact.html">Контакты</a></li>
                <li class="active"><a href="#">Студенты<span class="sr-only">(current)</span></a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <ol class="breadcrumb">
          <li><a href="student_list.html">Студенты</a></li>
          <li class="active">Детальная информация о студенте</li>
        </ol>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="../static/bootstrap/images/student_photo.png" alt="student photo">
          </a>
          <h4 class="media-heading">Железный  Александр Олегович</h4>
          <div class = "well well-sm">
            <p><b>Дата рождения:</b> 12.04.1990</p>
            <p><b>Адрес:</b> улица Метростроителей, 4</p>
            <p><b>Почта:</b><a href="mailto:zheleznya@gmail.com"> zheleznya@gmail.com</a></p>
            <p><img src = "../static/bootstrap/images/skypeic.png"> zhelezn</p>
            <p><b>Место в рейтинге:</b> 1</p>
            <div class="panel panel-info" style = "margin-top:20px">
              <!-- Default panel contents -->
              <div class="panel-heading"><em>Оценки за контрольные работы:</em></div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>ДЗ №1</th>
                        <th>ДЗ №2</th>
                        <th>ДЗ №3</th>
                        <th>ДЗ №4</th>
                        <th>ДЗ №5</th>
                        <th>ДЗ №6</th>
                        <th>ДЗ №7</th>
                        <th>ДЗ №8</th>
                        <th>ДЗ №9</th>
                        <th>ДЗ №10</th>
                        <th style = "color: #337ab7">Средний бал</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>1</th>
                        <th>100</th>
                        <th>100</th>
                        <th>100</th>
                        <th>100</th>
                        <th>100</th>
                        <th>100</th>
                        <th>100</th>
                        <th>100</th>
                        <th>100</th>
                        <th>10</th>
                        <th>91</th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="panel-heading"><em>Оценки за практические работы:</em></div>
            <ul class="list-group">
              <div class="progress" style = "margin-bottom: 0px;">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  <span class="sr-only">100% Complete</span>
                </div>
              </div>
              <li class="list-group-item" style = "margin-bottom:15px">
                <span class="badge">4/4</span>
                ПРАКТИЧЕСКОЕ ЗАДАНИЕ №1_1
              </li>
              <div class="progress" style = "margin-bottom: 0px;">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%">
                  <span class="sr-only">100% Complete</span>
                </div>
              </div>
              <li class="list-group-item" style = "margin-bottom:15px">
                <span class="badge">8/7</span>
                ПРАКТИЧЕСКОЕ ЗАДАНИЕ №1_2
              </li>
              <div class="progress" style = "margin-bottom: 0px;">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100" style="width: 71%">
                  <span class="sr-only">100% Complete</span>
                </div>
              </div>
              <li class="list-group-item" style = "margin-bottom:15px">
                <span class="badge">7/5</span>
                ПРАКТИЧЕСКОЕ ЗАДАНИЕ №1_3
              </li>
              <div class="progress" style = "margin-bottom: 0px;">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                  <span class="sr-only">100% Complete</span>
                </div>
              </div>
              <li class="list-group-item" style = "margin-bottom:15px">
                <span class="badge">8/4</span>
                ПРАКТИЧЕСКОЕ ЗАДАНИЕ №1_4
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/bootstrap/js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/bootstrap/bootstrap.js"></script>
  </body>
</html>
