{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>DJ101 - Иванов Иван</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
      TABLE {
        border: 2px solid white; /* Прячем рамку вокруг таблицы */
      }
    </style>

  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'pybursa.views.dj101_index' %}">DJ101</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li> <a href="{% url 'pybursa.views.dj101_index' %}">Главная</a></li>
            <li> <a href="{% url 'pybursa.views.dj101_contact' %}">Контакты</a></li>
            <li class="active"><a href="{% url 'pybursa.views.dj101_student_list' %}">Студенты</a><span class="sr-only">(current)</span></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <div class="jumbotron">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Иванов Иван:</h3>
          </div>
        </div>

        <div class="panel panel-default">
         <div class="panel-body">
            <table class="table">
              <tr>
                <th> <div align="center"><h4>НАЗВАНИЕ ПОЛЯ</h4></div></th>
                <th> <div align="center"><h4>ЗНАЧЕНИЕ</h4></div></th>
              </tr>
             <tr>
              <td align="center" >Фамилия</td>
              <td align="center" >Иванов</td>
             </tr>
             <tr>
              <td align="center" >Имя</td>
              <td align="center" >Иван</td>
             </tr>
             <tr>
              <td align="center" >Отчество</td>
              <td align="center" >Иванович</td>
             </tr>
             <tr>
              <td align="center" >Дата рождения</td>
              <td align="center" >01.01.1990</td>
             </tr>
             <tr>
              <td align="center" >Адрес</td>
              <td align="center" >Украина, г. Киев, ул. Киевская 1</td>
             </tr>
             <tr>
              <td align="center" >Почта</td>
              <td align="center" >i_ivanov@gmail.com</td>
             </tr>
             <tr>
              <td align="center" >Skype</td>
              <td align="center" >I_Ivanov</td>
             </tr>
             <tr>
              <td align="center" >Контрольные</td>
              <td align="center" >[5, 4, 0, 0]</td>
             </tr>
             <tr>
              <td align="center" >Ср. балл</td>
              <td align="center" >4.5</td>
             </tr>
             <tr>
              <td align="center" >Рейтинг</td>
              <td align="center" >#5</td>
             </tr>
            </table>
          </div>
        </div>

        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
