<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Student_Info</title>

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

  </head>
  <body>

    <div class="container"  style="background-color: #FEFFC4">
      <div class="header clearfix">
        <h2 class="text-muted">Персональная информация студента</h2>
      </div>
    </div>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="inde.html">Home</a></li>
            <li role="presentation"><a href="contact.html">Contact</a></li>
		      	<li role="presentation"><a href="students.html">Students</a></li>
          </ul>
        </nav>
        <h2 class="text-muted">Python/Django</h2>
      </div>
    </div>
	
  </body>
</html>
