<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Квадратное уравнение</title>
  </head>

  <body>
    <h4>Квадратное уравнение: a*x*x + b*x + c = 0</h4>
    <form method='get'>
      {{ form.as_p }}
      <input type='submit' value="Решить">
    </form>

    <br>
    <!--Определение дискриминанта, и если он равен не пустонй строке, то показываетм его на страничке-->
    {% if diction.d or diction.d == 0 %}
      Дискриминант: {{ diction.d }}<br><br>
      <!--Условие, когда дискриминант равен нулю-->
      {% if diction.d == 0 %}
        Дискриминант равен нулю, квадратное уравнение имеет один действительный корень: x1 = x2 = {{ diction.x_1 }}
      <!--Условие, когда дискриминант меньше нуля-->
      {% elif diction.d < 0 %}
        Дискриминант меньше нуля, квадратное уравнение не имеет действительных решений
      <!--Условие, когда дискриминант всех устраивает и уравнение имеет два корня-->
      {% else %}
        Квадратное уравнение имеет два действительный корня: x1 = {{ diction.x_1 }}, x2 = {{ diction.x_2 }}
      {% endif %}
    {% endif %}
  </body>
</html>
