{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quadratic Equation Solver</title>
    <link href="{% static "vendors/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/jumbotron-narrow.css" %}" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="{% url "home" %}">Home</a></li>
            <!--
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
            -->
          </ul>
        </nav>
        <h3 class="text-muted">DJ101</h3>
      </div>

      <div class="jumbotron">
        <h2>Quadratic Equation Solver</h2>
        {% if answer %}
          <p class="lead">Дискриминант равен {{ answer.d }}</p>
          <p class="lead">{{ answer.title }}</p>
          {% for x in answer.x %}
            <p class="lead">x{{ forloop.counter}} = {{ x }}</p>
          {% endfor %}
        {% else %}
          <p class="lead">ax<sup>2</sup> + bx + c = 0</p>
        {% endif %}
        <form action="{% url 'quadratic:home' %}" method="post">
            {% csrf_token %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Arguments</h3>
              </div>
              <div class="panel-body">
                {{ form.non_field_errors }}
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">a</span>
                  <!--<input type="text" class="form-control" aria-describedby="basic-addon1">-->
                  {{ form.a }}
                </div>
                {{ form.a.errors }}
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">b</span>
                  {{ form.b }}
                </div>
                {{ form.b.errors }}
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">c</span>
                  {{ form.c }}
                </div>
                {{ form.c.errors }}
              </div>
            </div>
            <!--<p><a class="btn btn-lg btn-success" href="#" role="button">Banzai!</a></p>-->
            <input type="submit" class="btn btn-lg btn-success" value="Banzai!" />
        </form>
      </div>
<!--
      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; Company 2014</p>
      </footer>
-->
    </div> <!-- /container -->
  </body>
</html>
