Квадратное уравнение: a*x*x + b*x + c = 0
<br><br>
<!--Определение коеффициенто квадратного уравнения и проверка их валидности-->
<ul>
    <!--Коеффициент а-->
    {%if a = 'first param is zero'%}
        <li>a = 0</li>
        коеффициент при первом слагаемом уравнения не может быть равным нулю
    {%elif a = 'not defined'%}
        <li>a = {{a_native}}</li>
        коеффициент не определен
    {%elif a = 'not digit'%}
        <li>a = {{a_native}}</li>
        коеффициент не целое число
    {%else%}
        <li>a = {{a_native}}</li>
    {%endif%}

    <!--Коеффициент b-->
    {%if b = 'not defined'%}
        <li>b = {{b_native}}</li>
        коеффициент не определен
    {%elif b = 'not digit'%}
       <li>b = {{b_native}}</li>
    коеффициент не целое число
    {%else%}
        <li>b = {{b_native}}</li>
    {%endif%}

    <!--Коеффициент c-->
    {%if c = 'not defined'%}
        <li>c = {{c_native}}</li>
        коеффициент не определен
    {%elif c = 'not digit'%}
       <li>c = {{c_native}}</li>
    коеффициент не целое число
    {%else%}
        <li>c = {{c_native}}</li>
    {%endif%}
</ul>
<br>
<!--Определение дискриминанта, и если он равен не пустонй строке, то показываетм его на страничке-->
{%if d != ''%}
    Дискриминант: {{d}}<br><br>
    <!--Условие, когда дискриминант равен нулю-->
    {%if d = 0%}
        Дискриминант равен нулю, квадратное уравнение имеет один действительный корень: x1 = x2 = {{x_1}}
    <!--Условие, когда дискриминант меньше нуля-->
    {%elif d < 0%}
        Дискриминант меньше нуля, квадратное уравнение не имеет действительных решений
    <!--Условие, когда дискриминант всех устраивает и уравнение имеет два корня-->
    {%else%}
        Квадратное уравнение имеет два действительный корня: x1 = {{x_1}}, x2 = {{x_2}}
    {%endif%}
{%endif%}



<!--
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text}}</a></li>
    {% endfor %}
{% else %}
    <p>No polls are available.</p>
{% endif %}
-->
