{% extends "base.html" %}


{% load static %}


{% block title %} PD0102 - Course detail {% endblock title %}


{% block main_content %}   
   <div class="main">
    <div class="container">
        <div class="col-md-9">
          <h1>Добавление нового курса</h1>

         <form method='post'>
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit button" class="btn btn-success">Добавить</button>
        </form>
     </div>
{% include "inc_instructor.html" with block_title="Учитель" instructor=course.coach %}


{% include "inc_instructor.html" with block_title="Ассистент" instructor=course.assistant %}
         
     
        </div>
<!--{% include "inc_links.html" %} -->
      </div>
    </div>
       
{% endblock main_content %}  
 