{% extends 'students/index.html' %}
{% load staticfiles %}


{% block title %} Создать курс {% endblock title %}


{% block content %}
  {% if form %}
   <h3>{% block title_form %}Создание нового курса{% endblock title_form %}</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Создать" />
    <a href="{% url 'courses:index' %}">
      <input type="button" class="btn btn-primary" name="Cancel" value="Отмена" />
    </a>
  </form>
  {% endif %}
  <br />
{% endblock content %}