{% extends "base.html" %}

{% load static from staticfiles %}


{% block title %}Ooniversity - New course{% endblock title %}


{# {% block nav_class_student %}active{% endblock %} #}


{% block main_content %}

    <div>
      <br>
      <h2> Создание нового курса </h2>
      <br>
      <br>

      <!-- Создание формы для нового курса -->

      <form method="post">
        {% csrf_token %}
        {{ course_form.as_p }}
        <br>
        <br>
        <input class="btn btn-primary"  type='submit' value="Создать">
      </form>

    </div>

{% endblock main_content %}
