{% extends 'base.html' %}

{% block title %}Add_lesson{% endblock %}

{% if messages %}
  {% for message in messages %}
  <div class="alert alert-success">
    {{ message }}
  </div>  
  {% endfor %}
{% endif %}

<div class="page-header">
  <h2 style="color: #446785">Создание нового занятия</h2>
</div>

{% block main_content %}

  <form method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <p><button type='submit' class="btn btn-info btn-sm"><span class="glyphicon glyphicon-list-alt"></span> Создать</button></p>
  </form>
 
{% endblock main_content %}
