{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ course.name }}{% endblock %}

{% block course_students %}?course_id={{ course.id }}{% endblock %}

{% block nav_extra_li %}<li class="active"><a href="">Описание курса</a></li>{% endblock %}


{% block body %}
    <div class="jumbotron">
      <h1>{{ course.name }}</h1>
      <p>{{ course.description }}</p>
    </div>

<div class="table-responsive">
      <table class="table table-hover borderless">
        <caption>Преподаватели</caption
        <thead>
          <tr>
            <th>Учитель</th>
            <th>Ассистент</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="{% url 'coaches:coach_detail' course.coach.id %}">{{ course.coach.full_name }}</a></td>
            <td><a href="{% url 'coaches:coach_detail' course.assistant.id %}">{{ course.assistant.full_name }}</a></td>
          </tr>
          <tr>
            <td>{{ course.coach.description }}</td>
            <td>{{ course.assistant.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>

<div class="table-responsive">
      <table class="table table-hover">
        <caption>План курса</caption
        <thead>
          <tr>
            <th>№</th>
            <th>Тема</th>
            <th>Описание</th>
          </tr>
        </thead>
        <tbody>
          {% for lesson in lessons %}
          <tr>
            <td>{{ lesson.number }}</td>
            <td>{{ lesson.theme }}</td>
            <td>{{ lesson.description }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock body %}

