{% extends "tech/base.html" %}
{% load staticfiles %}
{% block title %} Добавление курса {% endblock title %}
{% block jumbotron %}{% endblock jumbotron %}
{% block courses_table %}{% endblock courses_table %}
{% block content_header %}{% endblock content_header %}

{% block main_content %}

<h2>Создание нового курса</h2>

          <form method="post">
              {% csrf_token %}
              {{form_add.as_p}}
              <input type='submit' class="btn btn-primary" value='Создать' />    
          </form>

{% endblock main_content %}


