{% extends 'base_delete.html' %}
{% load staticfiles %}


{% block title_deleted_name %}{{ application.name }}{% endblock %}


{% block deleted_name %}Курс {{ application.name }}{% endblock %}


{% block deleted_comment %}курсов
{% if lessons_count == 1 %} вместе с его лекцией{% elif lessons_count > 1 %}, со всеми его {{ lessons_count }} лекциями{% endif %}{% endblock %}


{% block back_url %}{% url 'courses:courses' %}{% endblock %}


{% block title %}Удаление {{ application.name }}{% endblock %}
