{% extends "base.html" %}

{% load static from staticfiles %}


{% block title %}Deletion course{% endblock title %}


{% block nav_header %}Ooniversity > Удаление курса - {{ course_app.title }}{% endblock %}


{% block main_content %}

    <div>
      <br>
      <h1><b> А Вы уверены, что хотите удалить курс - {{ course_app.title }} ? </b></h1>
      <br>
      <h2> Курс - {{ course_app.title }} - будет удален !!! </h2>
      <br>
      <br>

      <!-- Удаление курса !!! -->

      <form method="post">
        {% csrf_token %}
        <input class="btn btn-danger" type='submit' value="Удалить">
      </form>
    </div>

{% endblock main_content %}
