{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}{{ course_info.name }}{% endblock %}

{% block nav_additional_botton %}
            <li><a href="{% url 'students' %}?course_info_id={{ course_info.pk }}">Студенты <sub style="font-size:50%">(этого курса)</sub></a></li>
{% endblock %}


{% block main %}
{% include "includes/inc_messages.html" %}
<!-- course_info info ================================================== -->

    <div class="container">
      <h1>{{ course_info.name }}</h1>
      <p>{{ course_info.description|linebreaks }}</p>
    </div>

<!-- Coaches ================================================== -->

    <div class="container">
      <h2 class="sub-header"><a href="{% url 'coaches:coaches' %}">Преподаватели</a></h2>
    </div>

    <div class="container">
      <div class="row">
{% include 'includes/inc_block_instructor.html' with title='Учитель' instructor=course_info.coach %}
{% include 'includes/inc_block_instructor.html' with title='Ассистент' instructor=course_info.assistant %}
      </div>
    </div>

<!-- Button add lessen ================================================== -->

    <div class="container">
      <a href="{% url 'courses:add_lesson' course_info.pk %}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Добавление лекции</a>
    </div>

<!-- Course lessen ================================================== -->

    <div class="container">
      <h2 class="sub-header">План курса</h2>
    </div>

    <div class="container">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Тема</th>
              <th>Описание</th>
              <th></th>
            </tr>
          </thead>
          {% for lesson in course_info.lesson_set.filter|dictsort:"consecutive_number" %}
          <tbody>
            <tr>
              <td><p>{{ lesson.consecutive_number }}</p></td>
              <td>{{ lesson.theme }}</td>
              <td><p>{{ lesson.description }}</p></td>
              <td>
              <a href="{% url 'courses:edit_lesson' pk=lesson.pk %}" class="btn btn-warning" role="button"><span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
              <a href="{% url 'courses:remove_lesson' pk=lesson.pk %}" class="btn btn-danger" role="button"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span></a>
              </td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
    </div>
{% endblock main %}
