{% extends "base.html" %}


{% block title %}Сведенья о курсе - pyBursa{% endblock %}

{% block students_course %}?course_id={{ course.id }}{% endblock %}


{% block content %}
<div class="jumbotron">
  <h1>{{ course.name }}</h1>
  <p>{{ course.description }}</p>
</div>

<div class="page-header">
  <h1>Преподаватели</h1>
</div>

  {% include "include/coach.html" with title="Учитель" coach=course.coach %}

  {% include "include/coach.html" with title="Ассистент" coach=course.assistant %}

<div class="page-header">
  <h1>План курса</h1>
</div>

<a href="{% url 'courses:add-lesson' course.id %}" class="btn btn-primary" role="button">
  <span class="glyphicon glyphicon-plus"></span>
  Добавить занятие
</a>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Тема</th>
          <th>Описание</th>
        </tr>
      </thead>
      <tbody>
        {% for lesson in course.lesson_set.all %}
          <tr>
            <td>{{ lesson.order }}</td>
            <td>{{ lesson.subject }}</td>
            <td>{{ lesson.description }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
