{% extends 'courses/index.html' %}
{% load staticfiles %}


{% block title %} Детали курса {% endblock title %}


{% block content %}
  <div class="jumbotron">
    <h1>{{ course.name }}</h1>
    <h4 class="left">{{ course.description }}</h4>
  </div>
    
  <h2>Преподаватели</h2>
  {% if course %}
  <div class="panel panel-primary">
   <div class="panel-heading">
      <h3 class="panel-title">Учитель</h3>
   </div>
   <div class="panel-body">
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
            <a href="{% url 'coaches:detail' course.coach.id %}">{{ course.coach.full_name }}</a>
        </h4>
         <p>{{ course.coach.description }}</p>
      </div>
    </div>
   </div>
  </div>
  <br />
    <div class="panel panel-primary">
   <div class="panel-heading">
      <h3 class="panel-title">Ассистент</h3>
   </div>
   <div class="panel-body">
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
            <a href="{% url 'coaches:detail' course.assistant.id %}">{{ course.assistant.full_name }}</a>
        </h4>
         <p>{{ course.assistant.description }}</p>
      </div>
    </div>
   </div>
  </div>
  <br />
  {% else %}
      <p>Нет ведущих преподавателей.</p>
  {% endif %}

  <h2>План курса</h2>
  {% if course %}
   <table  class="table table-striped ">
   <thead>
    <tr>
       <th>#</th><th>Тема</th><th>Описание</th>
   </tr>
  </thead>
  <tbody>
  {% for lesson in course_lesson_list %}
   <tr>
     <td>{{ lesson.number_order }}</td>
     <td>{{ lesson.theme }}</td>
     <td>{{ lesson.description }} </td>
    </tr>
   {% endfor %}
  </tbody>
 </table>
  {% else %}
      <p>Нет доступных уроков.</p>
  {% endif %}
      
{% endblock content %}
