{% extends "base.html" %}


{% block title %}Сведенья о курсе - pyBursa{% endblock %}

{% block students_course %}?course_id={{ course.id }}{% endblock %}


{% block content %}
<div class="jumbotron">
  <h1>{{ course.name }}</h1>
  <p>{{ course.description }}</p>
</div>

<div class="page-header">
  <h1>Преподаватели</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Учитель</h3>
  </div>
  <div class="panel-body">
    <p><a href="{% url 'coaches:detail' course.coach_id %}">{{ course.coach.user.first_name }} {{ course.coach.user.last_name }}</a></p>
    <p>{{ course.coach.description }}</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Ассистент</h3>
  </div>
  <div class="panel-body">
    <p><a href="{% url 'coaches:detail' course.assistant_id %}">{{ course.assistant.user.first_name }} {{ course.assistant.user.last_name }}</a></p>
    <p>{{ course.assistant.description }}</p>
  </div>
</div>

<div class="page-header">
  <h1>План курса</h1>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Тема</th>
          <th>Описание</th>
        </tr>
      </thead>
      <tbody>
        {% for lesson in course.lesson_set.all %}
          <tr>
            <td>{{ lesson.order }}</td>
            <td>{{ lesson.subject }}</td>
            <td>{{ lesson.description }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
