{% extends "base.html" %}


{% block title %}Редактирование курса - pyBursa{% endblock %}


{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

<div class="page-header">
  <h2>Редактирование курса</h2>
</div>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Изменить">
  </form>
{% endblock content %}