{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Курсы {% endblock title %}


{% block nav_class_main %}active{% endblock %}


{% block content %}
  <div class="jumbotron">
    <h1>Профессиональные курсы</h1>
    <p class="lead">Присоединяйся!</p>
  </div>

  {% if courses_list %}
  <table  class="table table-striped table-bordered table-hover">
   <thead>
    <tr>
      <th>Курс</th><th>Описание</th>
    </tr>
   </thead>
   <tbody data-link="row" class="rowlink">
   {% for course in courses_list %}
    <tr>
      <td><a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a></td>
      <td>{{ course.short_description }} </td>
    </tr>
   {% endfor %}
   </tbody>
  </table>
  {% else %}
    <p>Нет открытых курсов.</p>
  {% endif %}
{% endblock content %}