{% extends "base.HTML" %}

{% load static from staticfiles %}

{% block title %}IT Bursa - отправка email {% endblock title %}


{% block css_for_page %}
    <link href="{% static "students-list.css" %}" rel="stylesheet">
    <link href="{% static "mail.css" %}" rel="stylesheet">
{% endblock css_for_page %}


{% block nav_class_feedback %}active{% endblock %}


{% block main_content %}

  <!--Сообщение-->
  {% include "inc_message.HTML"%}
    <div class="container">
        <div class="container-inner3">
        </div>
      <!--Создание формы для нового студента-->
        <div class="container-inner1">
          <form class ="custome" action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input id="custom_btn" class="btn btn-primary btn-md" type="submit" value="Отправить нам письмо" />
          </form>
        </div>
        <div class="container-inner2">
        </div>
    </div>
{% endblock main_content %}
