{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Преподаватели{% endblock %}


{% block nav_class_coaches:coaches %}active{% endblock %}

{% block main %}
<!-- Coaches ================================================== -->
    
    <div class="container">
      <h1>Преподаватели</h1>
    </div>

    <div class="container">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Фамилия Имя</th>
              <th>Фото</th>
              <th>Email</th>
              <th>Skype</th>
              <th>Phone</th>
              <th>Курсы</th>
            </tr>
          </thead>
          <tbody>
            {% for item in object_list %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a href="{% url 'coaches:coach' item.id %}">{{ item.user.last_name }} {{ item.user.first_name }}</a></td>
              <td><img class="img-circle" src="{{ item.image.url }}" width="120" height="120"></td>
              <td><a href="mailto:{{ item.user.email }}">{{ item.user.email }}</a></td>
              <td><a href="skype:{{ item.skype }}">{{ item.skype }}</a></td>
              <td><a href="skype:{{ item.phone }}?call">{{ item.phone }}</a></td>
              <td>
              {% if item.courses_coach.count %}
              <p>как преподаватель:</p>
              {% for courses in item.courses_coach.filter %}
              <p><a href="{% url 'courses:detail' courses.id %}">{{ courses }}</a></p>
              {% endfor %}
              {% endif %}
              {% if item.courses_coach.count and item.courses_assistant.count %}
              <hr>
              {% endif %}
              {% if item.courses_assistant.count %}
              <p>как ассистент:</p>
              {% for courses in item.courses_assistant.filter %}
              <p><a href="{% url 'courses:detail' courses.id %}">{{ courses }}</a></p>
              {% endfor %}
              {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock main %}
