{% extends "base_person_detail.html" %}
{% load staticfiles %}

{% block title %}{{ coach.full_name }}{% endblock %}

{% block nav_extra_li %}
  {% include "includes/inc_nav_extra_li.html" with li_title="Профиль преподавателя" %}
{% endblock nav_extra_li %}


{% block surname %} {{ coach.user.last_name }} {% endblock %}
{% block name %} {{ coach.user.first_name }} {% endblock %}
{% block date_of_birth %} {{ coach.date_of_birth|date:"j E Y" }} {% endblock %}
{% block address %} {{ coach.address }} {% endblock %}
{% block phone %} {{ coach.phone }} {% endblock %}
{% block email %} {{ coach.user.email|urlize }} {% endblock %}
{% block skype %} {{ coach.skype }} {% endblock %}
{% block extra_tr %} 
          <tr>
            <th class="col1" scope="row">Курсы (учитель):</th>
            <td>
              {% for course in courses_coach %}
              <p>
              <a href="{% url 'courses:course_detail' course.id %}">{{ course.name }}</a>
              (<a href="{% url 'students:student_list' %}?course_id={{ course.id }}" target="_blank">студенты</a>)
              </p>
              {% endfor %}
            </td>
          </tr>
          <tr>
            <th class="col1" scope="row">Курсы (ассистент):</th>
            <td>
              {% for course in courses_assistant %}
              <p>
              <a href="{% url 'courses:course_detail' course.id %}">{{ course.name }}</a>
              (<a href="{% url 'students:student_list' %}?course_id={{ course.id }}" target="_blank">студенты</a>)
              </p>
              {% endfor %}
            </td>
          </tr>
{% endblock extra_tr %}


