{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ coach.full_name }}{% endblock %}

{% block nav_extra_li %}<li class="active"><a href="">Профиль преподавателя</a></li>{% endblock %}


{% block body %}
    <div class="table-responsive">
      <table class="table table-condensed profile">
        <tbody>
          <tr>
            <th class="col1" scope="row">Фамилия:</th>
            <td>{{ coach.user.last_name }}</td>
          </tr>
          <tr>
            <th class="col1" scope="row">Имя:</th>
            <td>{{ coach.user.first_name }}</td>
          </tr>
          <tr>
            <th class="col1" scope="row">Дата рождения:</th>
            <td>{{ coach.date_of_birth|date:"j E Y" }}</td>
          </tr>
          <tr>
            <th class="col1" scope="row">Адрес:</th>
            <td>{{ coach.address }}</td>
          </tr>
          <tr>
            <th class="col1" scope="row">Телефон:</th>
            <td>{{ coach.phone }}</td>
          </tr>
          <tr>
            <th class="col1" scope="row">Email:</th>
            <td>{{ coach.user.email|urlize }}</td>
          </tr>
          <tr>
            <th class="col1" scope="row">Skype:</th>
            <td>{{ coach.skype }}</td>
          </tr>
          <tr>
            <th class="col1" scope="row">Курсы (учитель):</th>
            <td>
              {% for course in courses_coach %}
              <p>
              <a href="{% url 'courses:course_detail' course.id %}">{{ course.name }}</a>
              (<a href="{% url 'students:student_list' %}?course_id={{ course.id }}" target="_blank">студенты</a>)
              </p>
              {% endfor %}
            </td>
          </tr>
          <tr>
            <th class="col1" scope="row">Курсы (ассистент):</th>
            <td>
              {% for course in courses_assistant %}
              <p>
              <a href="{% url 'courses:course_detail' course.id %}">{{ course.name }}</a>
              (<a href="{% url 'students:student_list' %}?course_id={{ course.id }}" target="_blank">студенты</a>)
              </p>
              {% endfor %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
{% endblock body %}

