{% extends "base.html" %}


{% block title %}Сведения о преподавателе - pyBursa{% endblock %}


{% block content %}
<div class="page-header">
  <h2>{{ coach.user.first_name }} {{ coach.user.last_name }}</h2>
</div>

<div class="row">
  <div class="col-xs-12 col-lg-12">
    <div class="row">
      <div class="col-xs-12 col-lg-12 ">
        <table class="table">
          <thead>
            <tr>
              <td>дата рождения</td>
              <td>{{ coach.date_of_birth|date:"d F, Y" }}</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>адрес</td>
              <td>{{ coach.address }}</td>
            </tr>
            <tr>
              <td>почта</td>
              <td>{{ coach.user.email }}</td>
            </tr>
            <tr>
              <td>логин skype</td>
              <td>{{ coach.skype }}</td>
            </tr>
            <tr>
              <td>телефон</td>
              <td>{{ coach.phone }}</td>
            </tr>
            <tr>
              <td>курсы учитель</td>
              <td>
                {% for course in coach.coach_courses.all %}
                  <p>
                    <a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a>
                    cтуденты курса
                    <a href="{% url 'students:list_view' %}?course_id={{ course.id }}">
                      <span class="glyphicon glyphicon-new-window"></span>
                    </a>
                  </p>
                {% empty %}
                  нет курсов
                {% endfor %}
              </td>
            </tr>
            <tr>
              <td>курсы ассистент</td>
              <td>
                {% for course in coach.assistant_courses.all %}
                  <p>
                    <a href="{% url 'courses:detail' course.id %}">{{ course.name }}</a>
                    cтуденты курса
                    <a href="{% url 'students:list_view' %}?course_id={{ course.id }}">
                      <span class="glyphicon glyphicon-new-window"></span>
                    </a>
                  </p>
                {% empty %}
                  нет курсов
                {% endfor %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}


