{% extends 'base.html' %}
{% load staticfiles %}


{% block title %} Преподаватель {% endblock title %}


{% block content %}
  {% if coach %}
  <h2>{{ coach.full_name }}</h2>
  <table  class="table ">
  <tbody>
   <tr>
     <td>Дата рождения</td>
     <td>{{ coach.date_of_birth|date:"d N Y" }}</td>
   </tr>
   <tr>
      <td>Адрес</td>
      <td>{{ coach.address }}</td>
   </tr>
   <tr>
      <td>Почта</td>
      <td>{{ coach.user.email }}</td>
   </tr>
   <tr>
      <td>Логин skype</td>
      <td>{{ coach.skype }}</td>
   </tr>
   <tr>
      <td>Телефон</td>
      <td>{{ coach.phone }}</td>
   </tr>
   <tr>
      <td>Курсы учитель</td>
      <td>{% for course in coach.coach.all %}
         <a href="{% url 'courses:detail' course.id %}">{{ course }}</a>
          студентов <a href="{% url 'students:index' %}?course_id={{ course.id }}">посмотреть</a>
         <br/>
          {% empty %}
            Нет курсов
          {% endfor %}
      </td>
    </tr>
   <tr>
      <td>Курсы ассистент</td>
      <td>{% for course in coach.assistant.all %}
         <a href="{% url 'courses:detail' course.id %}">{{ course }}</a>
          студентов <a href="{% url 'students:index' %}?course_id={{ course.id }}">посмотреть</a>
         <br/>
          {% empty %}
            Нет курсов
          {% endfor %}
      </td>
    </tr>
  </tbody>
  </table>
  {% else %}
      <p>Нет данных о студенте.</p>
  {% endif %}

{% endblock content %}
