{% extends 'base.html' %}
{% load staticfiles %}


{% block title %} Преподаватель {% endblock title %}


{% block content %}
  {% if coaches %}
  <h2>{{ coaches.full_name }}</h2>
  <table  class="table ">
  <tbody>
   <tr>
     <td>Дата рождения</td>
     <td>{{ coaches.date_of_birth|date:"d N Y" }}</td>
   </tr>
   <tr>
      <td>Адрес</td>
      <td>{{ coaches.address }}</td>
   </tr>
   <tr>
      <td>Почта</td>
      <td>{{ coaches.user.email }}</td>
   </tr>
   <tr>
      <td>Логин skype</td>
      <td>{{ coaches.skype }}</td>
   </tr>
   <tr>
      <td>Телефон</td>
      <td>{{ coaches.phone }}</td>
   </tr>
   <tr>
      <td>Курсы учитель</td>
      <td>{% for course in coaches.coach.all %}
         <a href="{% url 'courses:detail' course.id %}">{{ course }}</a>
          студентов <a href="{% url 'students:index' %}?course_id={{ course.id }}">посмотреть</a>
         <br/>
          {% empty %}
            Нет курсов
          {% endfor %}
      </td>
    </tr>
   <tr>
      <td>Курсы ассистент</td>
      <td>{% for course in coaches.assistant.all %}
         <a href="{% url 'courses:detail' course.id %}">{{ course }}</a>
          студентов <a href="{% url 'students:index' %}?course_id={{ course.id }}">посмотреть</a>
         <br/>
          {% empty %}
            Нет курсов
          {% endfor %}
      </td>
    </tr>
  </tbody>
  </table>
  {% else %}
      <p>Нет данных о студенте.</p>
  {% endif %}

{% endblock content %}
