{% extends 'quadratic/base_old.html' %}
{% load staticfiles %}


{% block title %}Квадратное уравнение{% endblock %}


{% block quadratic %}
      <p>Квадратное уравнение вида a×x² + b×x + c = 0</p>
      <form action="{% url 'quadratics:results_old' %}">
        <p><input size ='1' name='a' placeholder="a">×x² + <input size ='1' name='b' placeholder="b">×x + <input size ='1' name='c' placeholder="c"> = 0</p>
      <button type="submit" class="btn btn-default">Расчитать</button>
      </form>
    </div>
{% endblock %}
