{% extends "students/base.html" %}


{% load staticfiles %}


{% block title %}Coach Detail{% endblock title %}


{% block nav_class_students %}{% endblock %}


{% block main_content %}
<!--TABLE
====================================================-->
<h2>{{coach.user.first_name}} {{coach.user.last_name}}</h2>

<p><b>дата рождения:</b> {{coach.date_of_birth|date:"SHORT_DATE_FORMAT"}}</p>
<p><b>адрес:</b> {{coach.address}}</p>
<p><b>почта:</b> {{coach.user.email}}</p>
<p><b>логин skype:</b> {{coach.skype}}</p>
<p><b>телефон:</b> {{coach.phone|default:"No number"}}</p>


{% if teacher_courses %}
<p><b>Курсы учитель: </b> {% for course in teacher_courses %}
  <a href="{% url 'courses:courses' course.id %}"> {{course.name|upper}}
  </a> <a href="{% url 'students:students' %}?course_id={{course.id}}">студенты курса</a>||
                        {% endfor %}
</p>
{% endif %}
{% if assistant_courses %}
<p><b>Курсы ассистент: </b> {% for course in assistant_courses %}
  <a href="{% url 'courses:courses' course.id %}"> {{course.name|upper}}
  </a> <a href="{% url 'students:students' %}?course_id={{course.id}}">студенты курса</a>||
                        {% endfor %}
</p>
{% endif %}
<!--END TABLE ======================================-->
{% endblock main_content %}
