{% extends "base.HTML" %}

{% load static from staticfiles %}

{% block title %}IT Bursa - {{ coach.user.last_name }} {{ coach.user.first_name }} {% endblock title %}


{% block nav_class_coaches %}active{% endblock %}


{% block css_for_page %}
    <link href="{% static 'coach.css' %}" rel="stylesheet">
{% endblock css_for_page %}


{% block main_content %}
  <br><br><br><br><br><br>
  <!--Контакты препадавателя-->
  <div class = 'row'>
    <div id = 'student' class="media">
      <div class="media-left media-middle">
        <div class="row placeholders">
          <div class="col-xs-12 col-sm-12 placeholder">
            <img src="/{{ coach.photo }}" class="img-responsive" alt="Generic placeholder thumbnail">

            <h4>{{ coach.user.last_name }} {{ coach.user.first_name }}</h4>
          </div>
        </div>
      </div>
      <div class="media-body">
        <div class = 'teacher1-text'>
          <p> <small>дата рождения:</small> {{ coach.date_of_birth|date:"d M Y" }} </p>
          <p> <small>адрес:</small> {{ coach.address|default:'адрес не задан' }} </p>
          <p> <small>почта:</small> {{ coach.email }} </p>
          <p> <small>логин skype:</small> {{ coach.skype|default:'Skype не задан' }}  </p>
          <p> <small>телефон:</small> {{ coach.phone }} </p>
          <p> <small>курсы учитель:</small>
              {% for i in coach.coach_courses.all %}
                <a href="{% url 'courses:course' i.id %}">{{ i.name }}  </a>
                <small>студенты курса</small> <a href="{% url 'students:student-list' %}?course_id={{ i.id }}"><img src="{% static "IMG/hw6.png" %}" alt="..."></a>
              {% empty %}
                в данное время не преподает
              {% endfor %}
          </p>
          <p><small>курсы ассистент:</small>
              {% for i in coach.assistant_courses.all %}
                <a href="{% url 'courses:course' i.id %}">{{ i.name }}  </a>
                <small>студенты курса</small> <a href="{% url 'students:student-list' %}?course_id={{ i.id }}"><img src="{% static "IMG/hw6.png" %}" alt="..."></a>
              {% empty %}
                в данное время не ассистирует
              {% endfor %}
          </p>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br>

 {% endblock main_content %}
