{% extends "base/base.html" %}

{% load staticfiles %}


{% block title %}
  Преподаватели
{% endblock %}


{% block content %}
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="{% url 'courses_i:index' %}">Главная</a></li>
            <li role="presentation"><a href="{% url 'students:index' %}">Студенты</a></li>
            <li role="presentation"><a href="{% url 'contact' %}">Контакты</a></li>
          </ul>
        </nav>
      </div>

        <h2>

        </h2>

        <div>
          <h4>
            
          </h4>
        </div>

        <h4>
          Список преподавателей
        </h4>

{% if coach_list %}     
      <table class="table table-hover">

      <thead>
        <tr>
          <th>#</th>
          <th>фамилия имя</th>
          <th>адрес</th>
          <th>skype</th>
          <!--<th>курсы</th>-->
        </tr>
      </thead>

      <tbody>

    {% for coach in coach_list %}
        <tr>
          <td>{{ coach.id }}</td>
          <td><a href="{% url 'coaches:detail' coach.id %}">{{ coach.full_name }}</a></td>
          <td>{{ coach.address }}</td>
          <td>{{ coach.skype }}</td>
          <td>

         </td>
        </tr>
    {% endfor %}

      </tbody>
    </table>

{% else %}
    <p>No coaches are available.</p>
{% endif %}


{% endblock %}

